{extend name="../../admin/view/main"}

{block name="button"}
<!--{if auth('config')}-->
<a class="layui-btn layui-btn-sm layui-btn-primary" data-open="{:url('config')}">用户返利配置</a>
<!--{/if}-->
{/block}

{block name="content"}
<div class="think-box-notify">
    返利统计：累计已产生返利 <b>{$rebate.0+$rebate.2}</b> 元 ( 含未到账 <b>{$rebate.2|default='0.00'}</b> 元 )，累计已提现 <b>{$total.1|default=0.00}</b> 元。
</div>
<div class="think-box-shadow margin-top-10">
    {include file='user/rebate/index_search'}
    <table class="layui-table" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
            </th>
            <th class="text-left nowrap" style="width:300px">代理用户</th>
            <th class="text-left nowrap" style="width:300px">交易用户</th>
            <th class='text-left nowrap'>订单信息</th>
            <th class='text-left nowrap'>商品信息</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td think-checkbox'>
                <label><input class="list-check-box" type='checkbox' value='{$vo.id}'></label>
            </td>
            <td class="text-left nowrap relative">
                {notempty name='vo.agent.headimg'}
                <div class="headimg headimg-md" data-lazy-src="{$vo.agent.headimg|default='__ROOT__/static/theme/img/headimg.png'}" data-tips-image></div>
                {/notempty}
                <div class="inline-block text-middle sub-strong-red">
                    代理昵称：<span class="color-text">{$vo.agent.nickname|default='--'}</span><br>
                    代理手机：<span class="color-text">{$vo.agent.phone|default='--'}</span><br>
                    代理等级：[ <b>VIP{$vo.agent.vip_code|default=0}</b> ] <b>{$vo.agent.vip_name|default=''}</b>
                </div>
            </td>
            <td class="text-left nowrap relative">
                {notempty name='vo.user.headimg'}
                <div class="headimg headimg-md" data-lazy-src="{$vo.user.headimg|default='__ROOT__/static/theme/img/headimg.png'}" data-tips-image></div>
                {/notempty}
                <div class="inline-block text-middle sub-strong-red">
                    用户昵称：<span class="color-text">{$vo.user.nickname|default='--'}</span><br>
                    用户手机：<span class="color-text">{$vo.user.phone|default='--'}</span><br>
                    用户等级：[ <b>VIP{$vo.user.vip_code|default=0}</b> ] <b>{$vo.user.vip_name|default=''}</b>
                </div>
            </td>
            <td class='text-left nowrap'>
                {if $vo.type eq '管理奖励'}
                <span class="layui-badge layui-badge-middle layui-bg-black" style="line-height:13px">{$vo.type|default=''}</span>
                {elseif $vo.type eq '首推奖励'}
                <span class="layui-badge layui-badge-middle layui-bg-red" style="line-height:13px">{$vo.type|default=''}</span>
                {elseif $vo.type eq '复购奖励'}
                <span class="layui-badge layui-badge-middle layui-bg-blue" style="line-height:13px">{$vo.type|default=''}</span>
                {elseif $vo.type eq '直属团队'}
                <span class="layui-badge layui-badge-middle layui-bg-green" style="line-height:13px">{$vo.type|default=''}</span>
                {elseif $vo.type eq '间接团队'}
                <span class="layui-badge layui-badge-middle layui-bg-orange" style="line-height:13px">{$vo.type|default=''}</span>
                {elseif $vo.type eq '差额奖励'}
                <span class="layui-badge layui-badge-middle think-bg-violet" style="line-height:13px">{$vo.type|default=''}</span>
                {elseif $vo.type eq '升级奖励'}
                <span class="layui-badge layui-badge-middle think-bg-blue" style="line-height:13px">{$vo.type|default=''}</span>
                {else}
                <span class="layui-badge layui-badge-middle think-bg-orig" style="line-height:13px">{$vo.type|default=''}</span>
                {/if}
                <div class="inline-block text-middle">
                    <div>返利时间：<span class="color-blue">{$vo.create_at|format_datetime}</span></div>
                    <div>返利描述：{$vo.name|default='-'} {empty name='vo.status'}<span class="layui-badge layui-bg-black margin-left-5">未到账</span>{else}<span class="layui-badge layui-bg-green margin-left-5">已到账</span>{/empty}</div>
                    <div class="sub-strong-blue">订单 <b>{$vo.order_no|default='--'}</b> 交易 <b>{$vo.order_amount+0}</b> 元返利 <b>{$vo.amount+0}</b> 元</div>
                </div>
            </td>
            <td class="text-left nowrap">
                {foreach $vo.list as $g}
                <div>{$g.goods_name|default=''}<span class="color-blue"> x </span>{$g.stock_sales|default=0}</div>
                {/foreach}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
{/block}