<fieldset>
    <legend>条件搜索</legend>
    <form action="{:request()->url()}" autocomplete="off" class="layui-form layui-form-pane form-search" method="get" onsubmit="return false">
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">用户手机</label>
            <label class="layui-input-inline">
                <input class="layui-input" name="member_phone" placeholder="请输入用户手机" value="{:input('member_phone')}">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">用户昵称</label>
            <label class="layui-input-inline">
                <input class="layui-input" name="member_nickname" placeholder="请输入用户昵称" value="{:input('member_nickname')}">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">推荐手机</label>
            <label class="layui-input-inline">
                <input class="layui-input" name="agent_phone" placeholder="请输入用户手机" value="{:input('agent_phone')}">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">推荐昵称</label>
            <label class="layui-input-inline">
                <input class="layui-input" name="agent_nickname" placeholder="请输入用户昵称" value="{:input('agent_nickname')}">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">订单单号</label>
            <label class="layui-input-inline">
                <input class="layui-input" name="order_no" placeholder="请输入订单单号" value="{:input('order_no')}">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">发货单号</label>
            <label class="layui-input-inline">
                <input class="layui-input" name="express_send_no" placeholder="请输入发货单号" value="{:input('express_send_no')}">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">订单状态</label>
            <label class="layui-input-inline">
                <select class="layui-select" name="status">
                    <option value="">-- 全部 --</option>
                    {foreach ['2'=>'待付款','3'=>'待发货','4'=>'已发货','5'=>'已完成'] as $k=>$v}
                    {if input('status') eq $k.''}
                    <option selected value="{$k}">{$v}</option>
                    {else}
                    <option value="{$k}">{$v}</option>
                    {/if}{/foreach}
                </select>
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">付款状态</label>
            <label class="layui-input-inline">
                <select class="layui-select" name="pay_state">
                    <option value="">-- 全部 --</option>
                    {foreach ['未支付的订单','已支付的订单'] as $k=>$v}
                    {if input('pay_state') eq $k.''}
                    <option selected value="{$k}">{$v}</option>
                    {else}
                    <option value="{$k}">{$v}</option>
                    {/if}{/foreach}
                </select>
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">下单时间</label>
            <label class="layui-input-inline">
                <input class="layui-input" data-date-range name="create_at" placeholder="请选择下单时间" value="{:input('create_at')}">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">支付时间</label>
            <label class="layui-input-inline">
                <input class="layui-input" data-date-range name="pay_datetime" placeholder="请选择支付时间" value="{:input('pay_datetime')}">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">收货姓名</label>
            <label class="layui-input-inline">
                <input class="layui-input" name="express_name" placeholder="请输入收货姓名" value="{:input('express_name')}">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">收货手机</label>
            <label class="layui-input-inline">
                <input class="layui-input" name="express_phone" placeholder="请输入收货手机" value="{:input('express_phone')}">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">收货省份</label>
            <label class="layui-input-inline">
                <input class="layui-input" name="express_province" placeholder="请输入收货省份" value="{:input('express_province')}">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">收货城市</label>
            <label class="layui-input-inline">
                <input class="layui-input" name="express_city" placeholder="请输入收货城市" value="{:input('express_city')}">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">收货区域</label>
            <label class="layui-input-inline">
                <input class="layui-input" name="express_area" placeholder="请输入收货区域" value="{:input('express_area')}">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">详细地址</label>
            <label class="layui-input-inline">
                <input class="layui-input" name="express_address" placeholder="请输入详细地址" value="{:input('express_address')}">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
        </div>
    </form>
</fieldset>