<div class="ibox">
    {if isset($title)}
    <div class="ibox-title">
        <h5>{$title}</h5>
    </div>
    {/if}
    <div class="ibox-content fadeInUp animated">
        <div class="alert alert-success alert-dismissible" role="alert" style="border-radius:0">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p style="font-size:18px;padding-bottom:10px">旅行已经结束，开始补代码...</p>
            <p style="font-size:14px">thank you so much.</p>        
        </div>
        {if isset($alert)}
        <div class="alert alert-{$alert.type} alert-dismissible" role="alert" style="border-radius:0">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {if isset($alert['title'])}<p style="font-size:18px;padding-bottom:10px">{$alert.title}</p>{/if}
            {if isset($alert['content'])}<p style="font-size:14px">{$alert.content}</p>{/if}
        </div>
        {/if}
        {block name="content"}
        {/block}
    </div>
    {block name='script'}{/block}
</div>