<fieldset>
    <legend>条件搜索</legend>
    <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">操作账号</label>
            <label class="layui-input-inline">
                <input name="username" value="{:input('get.username')}" placeholder="请输入操作账号" class="layui-input">
            </label>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">操作节点</label>
            <label class="layui-input-inline">
                <input name="node" value="{:input('get.node')}" placeholder="请输入操作节点" class="layui-input">
            </label>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">操作行为</label>
            <div class="layui-input-inline">
                <select name="action" lay-search class="layui-select">
                    <option value=''>-- 全部日志 --</option>
                    {foreach $actions as $action}{if $action eq input('get.action')}
                    <option selected value="{$action}">{$action}</option>
                    {else}
                    <option value="{$action}">{$action}</option>
                    {/if}{/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">操作描述</label>
            <label class="layui-input-inline">
                <input name="content" value="{:input('get.content')}" placeholder="请输入操作内容" class="layui-input">
            </label>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">位置地址</label>
            <label class="layui-input-inline">
                <input name="geoip" value="{:input('get.geoip')}" placeholder="请输入位置地址" class="layui-input">
            </label>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">操作时间</label>
            <label class="layui-input-inline">
                <input data-date-range name="create_at" value="{:input('get.create_at')}" placeholder="请选择操作时间" class="layui-input">
            </label>
        </div>
        <div class="layui-form-item layui-inline">
            <button type="submit" class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
            <button type="button" data-form-export="{:url('index')}?type={$type|default=''}" class="layui-btn layui-btn-primary">
                <i class="layui-icon layui-icon-export"></i> 导 出
            </button>
        </div>
    </form>
</fieldset>

<script>
    window.form.render();
    require(['excel'], function (excel) {
        excel.bind(function (data) {
            data.forEach(function (item, index) {
                data[index] = [item.username, item.node, item.geoip, item.isp, item.action, item.create_at];
            });
            data.unshift(['操作账号', '访问节点', '访问IP地址', '访问地理区域', '访问操作', '操作时间']);
            return data;
        }, '操作日志');
    });
</script>