<!DOCTYPE html>
<html lang="zh">
<head>
    <title>{block name="title"}{$title|default=''}{if !empty($title)} · {/if}{:sysconf('site_name')}{/block}</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=0.4">
    <link rel="shortcut icon" href="{:sysconf('site_icon')}">
    <link rel="stylesheet" href="__ROOT__/static/plugs/awesome/fonts.css?at={:date('md')}">
    <link rel="stylesheet" href="__ROOT__/static/plugs/layui/css/layui.css?at={:date('md')}">
    <link rel="stylesheet" href="__ROOT__/static/theme/css/console.css?at={:date('md')}">
    {block name="style"}{/block}
    <script>window.tapiRoot = '{:sysuri("admin/index/index",[],false)}'</script>
    <script src="__ROOT__/static/plugs/jquery/pace.min.js"></script>
</head>
<body class="layui-layout-body">
{block name='body'}
<div class="layui-layout layui-layout-admin layui-layout-left-hide">
    <!-- 顶部菜单 开始 -->
    <div class="layui-header notselect">
        <a href="{:url('@')}" class="layui-logo layui-elip">
            {:sysconf('app_name')} {if sysconf('app_version')}<sup>{:sysconf('app_version')}</sup>{/if}
        </a>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item" lay-unselect>
                <a class="text-center" data-target-menu-type>
                    <i class="layui-icon layui-icon-spread-left"></i>
                </a>
            </li>
            {foreach $menus as $one}
            <li class="layui-nav-item">
                <a data-menu-node="m-{$one.id}" data-open="{$one.url}">
                    {notempty name='one.icon'}<span class='{$one.icon} padding-right-5'></span>{/notempty}
                    <span>{$one.title|default=''}</span>
                </a>
            </li>
            {/foreach}
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li lay-unselect class="layui-nav-item"><a data-reload><i class="layui-icon layui-icon-refresh-3"></i></a></li>
            {if session('user.username')}
            <li class="layui-nav-item">
                <dl class="layui-nav-child">
                    <dd lay-unselect><a data-modal="{:url('admin/index/info',['id'=>session('user.id')])}"><i class="layui-icon layui-icon-set-fill"></i> 基本资料</a></dd>
                    <dd lay-unselect><a data-modal="{:url('admin/index/pass',['id'=>session('user.id')])}"><i class="layui-icon layui-icon-component"></i> 安全设置</a></dd>
                    {if session('user.username') eq 'admin'}
                    <dd lay-unselect><a data-load="{:url('admin/api.plugs/push')}"><i class="layui-icon layui-icon-template-1"></i> 缓存加速</a></dd>
                    <dd lay-unselect><a data-load="{:url('admin/api.plugs/clear')}"><i class="layui-icon layui-icon-fonts-clear"></i> 清理缓存</a></dd>
                    {/if}
                    <dd lay-unselect><a data-load="{:url('admin/login/out')}" data-confirm="确定要退出登录吗？"><i class="layui-icon layui-icon-release"></i> 退出登录</a></dd>
                </dl>
                <a class="layui-elip">
                    <img alt="headimg" src="{:session('user.headimg')?:'__ROOT__/static/theme/img/headimg.png'}">
                    <span>{:session('user.nickname')?:session('user.username')}</span>
                </a>
            </li>
            {else}
            <li class="layui-nav-item">
                <a data-href="{:sysuri('admin/login/index')}"><i class="layui-icon layui-icon-username"></i> 立即登录</a>
            </li>
            {/if}
        </ul>
    </div>
    <!-- 顶部菜单 结束 -->
    <!-- 左则菜单 开始 -->
    <div class="layui-side layui-bg-black notselect">
        <div class="layui-side-scroll">
            {foreach $menus as $one}{notempty name='one.sub'}
            <ul class="layui-nav layui-nav-tree layui-hide" data-menu-layout="m-{$one.id}">
                {foreach $one.sub as $two}{empty name='two.sub'}
                <li class="layui-nav-item">
                    <a data-target-tips="{$two.title}" data-menu-node="m-{$one.id}-{$two.id}" data-open="{$two.url}">
                        <span class='{$two.icon|default="layui-icon layui-icon-link"}'></span>
                        <span class="nav-text">{$two.title|default=''}</span>
                    </a>
                </li>
                {else}
                <li class="layui-nav-item" data-submenu-layout='m-{$one.id}-{$two.id}'>
                    <a data-target-tips="{$two.title}" style="background:#393D49">
                        <span class='nav-icon layui-hide {$two.icon|default="layui-icon layui-icon-triangle-d"}'></span>
                        <span class="nav-text">{$two.title|default=''}</span>
                    </a>
                    <dl class="layui-nav-child">
                        {foreach $two.sub as $thr}
                        <dd>
                            <a data-target-tips="{$thr.title}" data-open="{$thr.url}" data-menu-node="m-{$one.id}-{$two.id}-{$thr.id}">
                                <span class='nav-icon {$thr.icon|default="layui-icon layui-icon-link"}'></span>
                                <span class="nav-text">{$thr.title|default=''}</span>
                            </a>
                        </dd>
                        {/foreach}
                    </dl>
                </li>
                {/empty}{/foreach}
            </ul>
            {/notempty}{/foreach}
        </div>
    </div>
    <!-- 左则菜单 结束 -->
    <!-- 主体内容 开始 -->
    <div class="layui-body layui-bg-gray">{block name='content'}{/block}</div>
    <!-- 主体内容 结束 -->
</div>
{/block}
<script src="__ROOT__/static/plugs/layui/layui.all.js"></script>
<script src="__ROOT__/static/plugs/require/require.js"></script>
<script src="__ROOT__/static/admin.js"></script>
{block name='script'}{/block}
</body>
</html>
