<form action="{:sysuri()}" method="post" data-auto="true" class="layui-form layui-card">

    <div class="layui-card-body padding-left-40">

        <div class="layui-row layui-form-item layui-col-space15">
            <label class="layui-col-xs3">
                <span class="help-label"><b>提现单号</b></span>
                <input class='layui-input layui-disabled layui-bg-gray' disabled value='{$vo.code|default="-"}'>
            </label>
            <label class="layui-col-xs3">
                <span class="help-label"><b>提现金额</b></span>
                <input class='layui-input layui-disabled layui-bg-gray' disabled value='{$vo.amount|default="0.00"}'>
            </label>
            <label class="layui-col-xs3">
                <span class="help-label"><b>提现手续费</b></span>
                <input class='layui-input layui-disabled layui-bg-gray' disabled value='{$vo.charge_amount|default="0.00"}'>
            </label>
            <label class="layui-col-xs3">
                <span class="help-label"><b>应打款金额</b></span>
                <input class='layui-input layui-disabled layui-bg-gray' disabled value='{$vo.amount - $vo.charge_amount}'>
            </label>
            <label class="layui-col-xs3">
                <span class="help-label"><b>提现方式</b></span>
                <input class='layui-input layui-disabled layui-bg-gray' disabled value='{$vo.type|default="-"}'>
            </label>
        </div>

        {in name='vo.type' value='wechat_qrcode,alipay_qrcode'}
        <fieldset class="layui-form-item">
            <legend><span class="layui-badge layui-bg-blue">付款二维码</span></legend>
            <div data-lazy-src="{$vo.qrcode}" data-tips-image style="height:300px"></div>
        </fieldset>
        {/in}

        <!-- 线下转账到支付宝账户 -->
        {in name='vo.type' value='alipay_account'}
        <div class="layui-row layui-form-item layui-col-space15">
            <label class="layui-col-xs3">
                <span class="color-green font-w7">支付宝姓名</span>
                <input class='layui-input layui-disabled layui-bg-gray' disabled value='{$vo.alipay_user|default="0.00"}'>
            </label>
            <label class="layui-col-xs3">
                <span class="color-green font-w7">支付宝账号</span>
                <input class='layui-input layui-disabled layui-bg-gray' disabled value='{$vo.alipay_code|default="0.00"}'>
            </label>
        </div>
        {/in}

        <!-- 线下转账到银行卡账户 -->
        {in name='vo.type' value='transfer_banks,wechat_banks'}
        <div class="layui-row layui-form-item layui-col-space15">
            <label class="layui-col-xs3">
                <span class="color-green font-w7">开户银行名称</span>
                <input class='layui-input layui-disabled layui-bg-gray' disabled value='{$vo.bank_name|default="-"}'>
            </label>
            <label class="layui-col-xs3">
                <span class="color-green font-w7">开户分行名称</span>
                <input class='layui-input layui-disabled layui-bg-gray' disabled value='{$vo.bank_bran|default="-"}'>
            </label>
            <label class="layui-col-xs3">
                <span class="color-green font-w7">开户账号姓名</span>
                <input class='layui-input layui-disabled layui-bg-gray' disabled value='{$vo.bank_user|default="-"}'>
            </label>
            <label class="layui-col-xs3">
                <span class="color-green font-w7">开户银行卡号</span>
                <input class='layui-input layui-disabled layui-bg-gray' disabled value='{$vo.bank_code|default="-"}'>
            </label>
        </div>
        {/in}

        <div class="layui-form-item">
            <span class="color-green font-w7">审核操作类型</span>

            <!-- 提现状态(0失败, 1待审核, 2已审核, 3打款中, 4已打款, 5已收款) -->
            <!-- 'wechat_wallet'  => '转账到我的微信零钱' -->
            <!-- 'wechat_banks'   => '转账到我的银行卡账户' -->
            <!-- 'wechat_qrcode'  => '线下转账到微信收款码' -->
            <!-- 'alipay_qrcode'  => '线下转账到支付宝收款码' -->
            <!-- 'alipay_account' => '线下转账到支付宝账户' -->
            <!-- 'transfer_banks' => '线下转账到银行卡账户' -->

            {if $vo.status eq 1}
            {php} $types = [0=>'拒绝提现', 1=>'等待审核', 2=>'审核通过']; {/php}
            {/if}

            {if $vo.status eq 2}
            <!--{in name='vo.type' value='wechat_wallet,wechat_banks'}-->
            {php} $types = [2=>'审核通过', 3=>'自动打款']; {/php}
            <!--{else}-->
            {php} $types = [2=>'审核通过', 3=>'准备打款', 4=>'已经打款']; {/php}
            <!--{/in}-->
            {/if}

            {if $vo.status eq 3}
            <!--{in name='vo.type' value='wechat_wallet,wechat_banks'}-->
            {php} $types = [3=>'正在打款']; {/php}
            <!--{else}-->
            {php} $types = [3=>'准备打款', 4=>'已经打款']; {/php}
            <!--{/in}-->
            {/if}

            {if $vo.status eq 4}
            {php} $types =[4=>'已经打款']; {/php}
            {/if}

            <div class="layui-textarea" style="min-height:auto;padding:10px 0 13px 18px">
                {foreach($types as $k => $v)}{if $k eq $vo.status}
                <input checked name="status" title="{$v}" type="radio" value='{$k}'>
                {else}
                <input name="status" title="{$v}" type="radio" value='{$k}'>
                {/if}{/foreach}
            </div>
        </div>

        <div class="layui-form-item">
            <label class="relative block">
                <span class="color-green font-w7">审核操作描述</span>
                <textarea class="layui-textarea" name="remark" placeholder="请输入审核描述">{$vo.remark|default=''}</textarea>
            </label>
        </div>

    </div>

    <div class="hr-line-dashed"></div>
    {notempty name='vo.code'}<input name='code' type='hidden' value='{$vo.code}'>{/notempty}

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" data-close data-confirm="确定要取消编辑吗？" type='button'>取消编辑</button>
    </div>

</form>