<fieldset>
    <legend>条件搜索</legend>
    <form action="{:sysuri()}" autocomplete="off" class="layui-form layui-form-pane form-search" method="get" onsubmit="return false">

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">用户手机</label>
            <label class="layui-input-inline">
                <input class="layui-input" name="phone" placeholder="请输入用户手机" value="{$get.phone|default=''}">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">用户昵称</label>
            <label class="layui-input-inline">
                <input class="layui-input" name="nickname" placeholder="请输入用户昵称" value="{$get.nickname|default=''}">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">提现方式</label>
            <div class="layui-input-inline">
                <select name="type">
                    <option value="">-- 全部 --</option>
                    {foreach $types as $k=>$v}
                    {if input('type') eq $k.''}
                    <option selected value="{$k}">{$v}</option>
                    {else}
                    <option value="{$k}">{$v}</option>
                    {/if}{/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">打款状态</label>
            <div class="layui-input-inline">
                <select name="status">
                    <option value="">-- 全部 --</option>
                    {foreach ['已拒绝', '待审核', '已审核', '待打款', '已打款','已完成'] as $k=>$v}
                    {if input('status') eq $k.''}
                    <option selected value="{$k}">{$v}</option>
                    {else}
                    <option value="{$k}">{$v}</option>
                    {/if}{/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">申请时间</label>
            <div class="layui-input-inline">
                <input class="layui-input" data-date-range name="create_at" placeholder="请选择申请时间" value="{$get.create_at|default=''}">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
        </div>
    </form>
</fieldset>