{extend name='admin@public/content'}

{block name="button"}

<!--{if auth("$classuri/add")}-->
<button data-open='{:url("$classuri/add")}' data-title="添加产品" class='layui-btn layui-btn-sm'>添加产品</button>
<!--{/if}-->

<!--{if auth("$classuri/forbid")}-->
<button data-update data-field='status' data-value='0' data-action='{:url("$classuri/forbid")}' class='layui-btn layui-btn-sm layui-btn-primary'>批量下架</button>
<!--{/if}-->

<!--{if auth("$classuri/resume")}-->
<button data-update data-field='status' data-value='1' data-action='{:url("$classuri/resume")}' class='layui-btn layui-btn-sm layui-btn-primary'>批量上架</button>
<!--{/if}-->

<!--{if auth("$classuri/del")}-->
<button data-update data-field='delete' data-action='{:url("$classuri/del")}' class='layui-btn layui-btn-sm layui-btn-danger'>批量删除</button>
<!--{/if}-->

{/block}

{block name="content"}

<!-- 表单搜索 开始 -->
<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get">

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">产品名称</label>
        <div class="layui-input-inline">
            <input name="goods_title" value="{$Think.get.goods_title}" placeholder="请输入产品名称" class="layui-input">
        </div>
    </div>

    <!--{if !empty($cates)}-->
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">产品品牌</label>
        <div class="layui-input-inline">
            <select name="brand_id" lay-search>
                <option value="">产品品牌</option>
                {foreach $brands as $brand}
                <!--{if $Think.get.brand_id eq $brand.id}-->
                <option selected="selected" value="{$brand.id}">{$brand.brand_title}</option>
                <!--{else}-->
                <option value="{$brand.id}">{$brand.brand_title}</option>
                <!--{/if}-->
                {/foreach}
            </select>
        </div>
    </div>
    <!--{/if}-->

    <!--{if !empty($cates)}-->
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">产品分类</label>
        <div class="layui-input-inline">
            <select name="cate_id" lay-search>
                <option value="">所有分类</option>
                {foreach $cates as $cate}
                <!--{if $Think.get.cate_id eq $cate.id}-->
                <option selected="selected" value="{$cate.id}">{$cate.spl|raw}{$cate.cate_title}</option>
                <!--{else}-->
                <option value="{$cate.id}">{$cate.spl|raw}{$cate.cate_title}</option>
                <!--{/if}-->
                {/foreach}
            </select>
        </div>
    </div>
    <!--{/if}-->

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">发布时间</label>
        <div class="layui-input-inline">
            <input name="create_at" id="create_at" value="{$Think.get.create_at}" placeholder="请选择发布时间" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>

</form>
<!-- 表单搜索 结束 -->

<form onsubmit="return false;" data-auto="true" method="post">
    <!--{if empty($list)}-->
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    <!--{else}-->
    <input type="hidden" value="resort" name="action">
    <table class="layui-table notevent" lay-skin="line">
        <thead>
        <tr>
            <th class='list-table-check-td'>
                <input data-auto-none="none" data-check-target='.list-check-box' type='checkbox'>
            </th>
            <th class='list-table-sort-td'>
                <button type="submit" class="layui-btn layui-btn-normal layui-btn-xs">排 序</button>
            </th>
            <th class="nowrap">品牌分类</th>
            <th class="padding-none">
                <table class="think-inner-table layui-table">
                    <thead>
                    <tr>
                        <td>产品信息</td>
                        <td class="text-right nowrap">售价 ( 标价 ) / 库存 ( 剩余, 已售 )</td>
                    </tr>
                    </thead>
                </table>
            </th>
            <th class="text-left">添加时间 / 状态</th>
            <th class='text-center'></th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td text-top'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'>
            </td>
            <td class='list-table-sort-td text-top'>
                <input name="_{$vo.id}" value="{$vo.sort}" class="list-sort-input">
            </td>
            <td class="text-left nowrap text-top">
                品牌：{$vo.brand.brand_title|default='<span class="color-desc">未配置品牌</span>'|raw}<br>
                分类：{if empty($vo.cate)}<span class="color-desc">未配置分类</span>{else}
                {foreach $vo.cate as $k=>$cate}{$cate.cate_title}
                {if $k+1 < count($vo.cate)}<span class="layui-icon font-s12">&#xe602;</span>{/if}
                {/foreach}
                {/if}
            </td>
            <td class="text-left nowrap text-top" style="padding:2px">
                <table class="think-inner-table layui-table notevent">
                    <colgroup>
                        <col width="60%">
                    </colgroup>
                    {foreach $vo.spec as $spec}
                    <tr>
                        <td>
                            [{$spec.goods_id}] {$spec.goods_title|default=''|raw}
                            <span class="layui-badge layui-bg-gray">{$spec.goods_spec_alias|raw}</span>
                        </td>
                        <td class="text-right nowrap">
                            <span class="layui-badge layui-bg-gray">售 {$spec.selling_price} ( 市 {$spec.market_price} ) </span>
                            <span class="layui-badge layui-bg-gray">存 {$spec.goods_stock} ( 剩 {$spec.goods_stock-$spec.goods_sale}, 售 {$spec.goods_sale} ) </span>
                        </td>
                    </tr>
                    {/foreach}
                </table>
            </td>
            <td class='text-left nowrap text-top'>
                {$vo.create_at|format_datetime|str_replace=' ','<br>',###|raw}
                {if $vo.status eq '0'}<span class="color-red margin-left-10">已下架</span>{elseif $vo.status eq '1'}<span class="color-green margin-left-10">销售中</span>{/if}
            </td>

            <td class='text-center nowrap text-top'>

                <!--{if auth("$classuri/edit")}-->
                <span class="text-explode">|</span>
                <a data-open='{:url("$classuri/edit")}?id={$vo.id}'>编辑</a>
                <!--{/if}-->

                <!--{if $vo.status eq 1 and auth("$classuri/forbid")}-->
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='status' data-value='0' data-action='{:url("$classuri/forbid")}'>下架</a>
                <!--{elseif auth("$classuri/resume")}-->
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='status' data-value='1' data-action='{:url("$classuri/resume")}'>上架</a>
                <!--{/if}-->

                <!--{if auth("$classuri/del")}-->
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='delete' data-action='{:url("$classuri/del")}'>删除</a>
                <!--{/if}-->

            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    <!--{/if}-->
</form>
<script>
    (function () {
        window.form.render();
        window.laydate.render({range: true, elem: '#create_at'});
    })();
</script>
{/block}