<fieldset>
    <legend>条件搜索</legend>
    <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">用户手机</label>
            <label class="layui-input-inline">
                <input name="member_phone" value="{:input('member_phone')}" placeholder="请输入用户手机" class="layui-input">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">用户昵称</label>
            <label class="layui-input-inline">
                <input name="member_nickname" value="{:input('member_nickname')}" placeholder="请输入用户昵称" class="layui-input">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">推荐手机</label>
            <label class="layui-input-inline">
                <input name="from_phone" value="{:input('from_phone')}" placeholder="请输入用户手机" class="layui-input">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">推荐昵称</label>
            <label class="layui-input-inline">
                <input name="from_nickname" value="{:input('from_nickname')}" placeholder="请输入用户昵称" class="layui-input">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">订单单号</label>
            <label class="layui-input-inline">
                <input name="order_no" value="{:input('order_no')}" placeholder="请输入订单单号" class="layui-input">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">发货单号</label>
            <label class="layui-input-inline">
                <input name="truck_send_number" value="{:input('truck_send_number')}" placeholder="请输入发货单号" class="layui-input">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">订单状态</label>
            <label class="layui-input-inline">
                <select class="layui-select" name="status">
                    <option value=''>- 全部订单 -</option>
                    {foreach ['2'=>'待付款','3'=>'待发货','4'=>'已发货','5'=>'已完成'] as $k=>$v}
                    {if input('status') eq $k.''}
                    <option selected value="{$k}">{$v}</option>
                    {else}
                    <option value="{$k}">{$v}</option>
                    {/if}{/foreach}
                </select>
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">付款状态</label>
            <label class="layui-input-inline">
                <select class="layui-select" name="payment_status">
                    <option value=''>- 全部订单 -</option>
                    {foreach ['0'=>'未支付的订单','1'=>'已支付的订单'] as $k=>$v}
                    {if input('payment_status') eq $k.''}
                    <option selected value="{$k}">{$v}</option>
                    {else}
                    <option value="{$k}">{$v}</option>
                    {/if}{/foreach}
                </select>
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">下单时间</label>
            <label class="layui-input-inline">
                <input data-date-range name="create_at" value="{:input('create_at')}" placeholder="请选择下单时间" class="layui-input">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">支付时间</label>
            <label class="layui-input-inline">
                <input data-date-range name="payment_datetime" value="{:input('payment_datetime')}" placeholder="请选择支付时间" class="layui-input">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">收货姓名</label>
            <label class="layui-input-inline">
                <input name="truck_address_name" value="{:input('truck_address_name')}" placeholder="请输入收货姓名" class="layui-input">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">收货手机</label>
            <label class="layui-input-inline">
                <input name="truck_address_phone" value="{:input('truck_address_phone')}" placeholder="请输入收货手机" class="layui-input">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">收货地址</label>
            <label class="layui-input-inline">
                <input name="truck_address_content" value="{:input('truck_address_content')}" placeholder="请输入收货省份" class="layui-input">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <button type="submit" class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
            <button type="button" data-form-export="{:url('index')}?type={$type|default=''}" class="layui-btn layui-btn-primary">
                <i class="layui-icon layui-icon-export"></i> 导 出
            </button>
        </div>
    </form>
</fieldset>

<script>
    window.form.render();
    require(['excel'], function (excel) {
        excel.bind(function (data) {
            data.forEach(function (item, index) {
                data[index] = [
                    item.order_no,
                    item.member.phone,
                    item.member.username || item.member.nickname || '',
                    item.payment_trade || '',
                    item.payment_status ? '已支付' : '未支付',
                    item.payment_amount || '0.00',
                    item.payment_datetime || '',
                ];
            });
            data.unshift(['订单单号', '用户手机', '用户姓名', '支付单号', '支付状态', '支付金额', '支付时间']);
            return data;
        }, '用户订单记录');
    });
</script>