{extend name="../../admin/view/main"}

{block name="button"}
<!--{if auth("clean")}-->
<button data-queue='{:url("clean")}' class='layui-btn layui-btn-sm layui-btn-primary'>定时清理订单</button>
<!--{/if}-->
{/block}

{block name="content"}
<div class="layui-tab layui-tab-card">
    <ul class="layui-tab-title notselect">
        {foreach ['ta'=>'全部订单','t2'=>'待支付的订单','t3'=>'待审核的订单','t4'=>'待发货的订单','t5'=>'待收货的订单','t6'=>'已完成的订单','t0'=>'已取消的订单'] as $k=>$v}
        {if isset($type) and 't'.$type eq $k}
        <li data-open="{:url('index')}?type={$k}" class="layui-this">{$v}<sup class="layui-badge border-radius">{$total[$k]??0}</sup></li>
        {else}
        <li data-open="{:url('index')}?type={$k}">{$v}<sup class="layui-badge border-radius">{$total[$k]??0}</sup></li>
        {/if}{/foreach}
    </ul>
    <div class="layui-tab-content">
        {include file='shop_order/index_search'}
        <table class="layui-table margin-top-10" lay-skin="line">
            {notempty name='list'}
            <thead>
            <tr>
                <th class='list-table-check-td think-checkbox'>
                    <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
                </th>
                <th>用户信息</th>
                <th>订单信息</th>
                <th>发货信息</th>
                <th>商品信息</th>
            </tr>
            </thead>
            {/notempty}
            <tbody>
            {foreach $list as $key=>$vo}
            <tr>
                <td class='list-table-check-td think-checkbox'>
                    <label><input class="list-check-box" value='{$vo.id}' type='checkbox'></label>
                </td>
                <td class="nowrap relative">
                    <div>
                        <div class="headimg" data-tips-image data-lazy-src="{$vo.fromer.headimg|default='__ROOT__/static/theme/img/headimg.png'}"></div>
                        <div class="inline-block sub-span-blue">
                            推荐用户：{$vo.fromer.nickname|default='--'}<br>
                            推荐手机：<span>{$vo.fromer.phone|default='--'}</span><br>
                        </div>
                    </div>
                    <div>
                        <div class="headimg" data-tips-image data-lazy-src="{$vo.user.headimg|default='__ROOT__/static/theme/img/headimg.png'}"></div>
                        <div class="inline-block sub-span-blue">
                            用户昵称：{$vo.user.nickname|default='--'}<br>
                            用户手机：<span>{$vo.user.phone|default='--'}</span><br>
                        </div>
                    </div>
                </td>
                <td class='nowrap'>
                    {eq name='vo.status' value='0'}<span class="layui-badge layui-badge-middle layui-bg-gray" data-tips-text="{$vo.cancel_remark}">已取消</span>{/eq}
                    {eq name='vo.status' value='1'}<span class="layui-badge layui-badge-middle layui-bg-red">预订单</span>{/eq}
                    {eq name='vo.status' value='2'}<span class="layui-badge layui-badge-middle layui-bg-red">待付款</span>{/eq}
                    {eq name='vo.status' value='3'}<span class="layui-badge layui-badge-middle layui-bg-orange">待审核</span>{/eq}
                    {eq name='vo.status' value='4'}<span class="layui-badge layui-badge-middle layui-bg-black">待发货</span>{/eq}
                    {eq name='vo.status' value='5'}<span class="layui-badge layui-badge-middle layui-bg-green">已发货</span>{/eq}
                    {eq name='vo.status' value='6'}<span class="layui-badge layui-badge-middle layui-bg-blue">已完成</span>{/eq}
                    <div class="inline-block text-middle">
                        <div class="sub-strong-blue">
                            订单单号：<b>{$vo.order_no|default=''}</b>
                            <!--{eq name='vo.status' value='3'}-->
                            <a data-modal="{:url('audit')}?order_no={$vo.order_no}" class="margin-left-5 layui-badge layui-bg-blue">凭证审核</a>
                            <!--{/eq}-->
                        </div>
                        <div class="sub-strong-blue sub-span-blue">
                            订单总计：<b>{$vo.amount_total+0}</b> 元
                            <span>{if $vo.amount_express>0}(含邮费{$vo.amount_express+0}元){else}(包邮){/if}</span>
                            已支付 <b>{$vo.payment_amount+0}</b> 元
                        </div>
                        <div>下单时间：{$vo.create_at|format_datetime}</div>
                        <!--{notempty name='vo.payment_status'}-->
                        <div>
                            支付时间：{$vo.payment_datetime|format_datetime}
                            {notempty name='vo.payment_name'}
                            <!--{notempty name='vo.payment_image'}-->
                            <span data-tips-text="{$vo.payment_remark|default=''}" data-tips-image="{$vo.payment_image}" class="margin-left-5">({$vo.payment_name|default='-'})</span>
                            <!--{else}-->
                            <span class="margin-left-5">({$vo.payment_name|default='-'})</span>
                            <!--{/notempty}-->
                            {/notempty}
                        </div>
                        <!--{else}-->
                        支付状态：<span class="color-desc">还未支付</span>
                        <!--{/notempty}-->
                    </div>
                </td>
                <td class="nowrap">
                    {empty name='vo.truck_type'}
                    无需发货
                    {else}
                    <div>收货信息：{$vo.truck.address_name|default='--'}<span class="margin-left-5 color-blue">{$vo.truck.address_phone|default=''}</span></div>
                    <div>收货地址：{$vo.truck.address_province|default='--'}{$vo.truck.address_city|default=''}{$vo.truck.address_area|default=''}{$vo.truck.address_content|default=''}</div>
                    <div>发货状态：<!--{if empty($vo.truck.send_number)}--><span class="layui-badge layui-bg-black">未发货</span><!--{else}--><span class="layui-badge layui-bg-blue">{$vo.truck.company_name|default='--'}</span>
                        <a data-title="快递查询" data-modal="{:url('truckQuery')}?code={$vo.truck.company_code|default=''}&number={$vo.truck.send_number|default=''}" class="layui-badge layui-bg-orange">{$vo.truck.send_number|default='--'}</a>
                        <!--{/if}-->

                        <!--{if auth('truck') and $vo.status eq 3}-->
                        <a class="margin-left-5" data-title="填写订单信息" data-modal="{:url('truck')}?order_no={$vo.order_no}">填写发货</a>
                        <!--{elseif auth('truck') and $vo.status eq 4}-->
                        <a class="margin-left-5" data-title="修改发货信息" data-modal="{:url('truck')}?order_no={$vo.order_no}">修改发货</a>
                        <!--{/if}-->

                        <!--{if auth('cancel') and in_array($vo.status, [1,2])}-->
                        <a class="margin-left-5" data-confirm="确认要取消订单吗？" data-load="{:url('cancel')}?order_no={$vo.order_no}">取消订单</a>
                        <!--{/if}-->
                    </div>
                    <div>发货时间：{$vo.truck.send_datetime|default='--'}</div>
                    {/empty}
                </td>
                <td class="nowrap">
                    {foreach $vo.items as $g}
                    <div>
                        {if $g.vip_entry > 0 and $g.vip_upgrade > $g.vip_code}
                        [ <b class="color-red">VIP{$g.vip_code}</b> <span class="layui-icon font-s10 color-blue">&#xe602;</span> <b class="color-red">VIP{$g.vip_upgrade}</b> ]
                        {else}
                        [ <b class="color-blue">VIP{$g.vip_code}</b> ]
                        {/if}
                        {if $g.discount_rate < 100.00}
                        <b class="color-blue">享{$g.discount_rate+0}%折扣</b><span class="color-red"> x </span>
                        {/if}
                        <b class="color-blue">{$g.stock_sales|default=0}件</b><span class="color-red"> x </span><b class="color-blue">{$g.price_selling+0}元 </b>
                        {$g.goods_name|default=''} <span class="color-green"> ( {$g.goods_spec|show_goods_spec} )</span>
                    </div>
                    {/foreach}
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
    </div>
</div>
{/block}
