<div class="padding-25" style="max-height:450px;overflow:auto">
    {empty name='result.data'}
    <div class="notdata">还没有快递记录哦！</div>
    {else}
    <ul class="layui-timeline">
        {foreach $result.data as $key=>$vo}
        <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">{if $key eq 0 }&#xe756;{else}&#xe63f;{/if}</i>
            <div class="layui-timeline-content layui-text">
                <strong class="layui-timeline-title">{$vo.time|format_datetime|default='--'}</strong>
                <p>{$vo.context|default='--'}</p>
            </div>
        </li>
        {/foreach}
    </ul>
    {/empty}
</div>