<form class="layui-form layui-card margin-bottom-0" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body padding-left-40">
        <fieldset>
            <legend><span class="layui-badge layui-bg-cyan">收货信息</span></legend>
            <div class="layui-form-item layui-row layui-col-space10">
                <label class="layui-col-xs6 relative block">
                    <span class="color-green font-w7 label-required-prev">收货人姓名</span>
                    <span class="color-desc margin-left-5">Consignee Name</span>
                    <input class="layui-input" required placeholder="请输入收货姓名" name="address_name" value="{$vo.address_name|default=''}">
                </label>
                <label class="layui-col-xs6 relative block">
                    <span class="color-green font-w7 label-required-prev">收货人手机</span>
                    <span class="color-desc margin-left-5">Consignee mobile</span>
                    <input class="layui-input" required placeholder="请输入收货人手机" name="address_phone" value="{$vo.address_phone|default=''}">
                </label>
                <div class="layui-col-xs12 relative block">
                    <span class="color-green font-w7 label-required-prev">收货所在区域</span>
                    <span class="color-desc margin-left-5">（原区域：{$vo.address_province|default='--'} {$vo.address_city|default=''} {$vo.address_area|default=''} ）</span>
                    <div class="layui-row layui-col-space10">
                        <label class="layui-col-xs4"><select class="layui-select block full-width" lay-ignore name="form_province"></select></label>
                        <label class="layui-col-xs4"><select class="layui-select block full-width" lay-ignore name="form_city"></select></label>
                        <label class="layui-col-xs4"><select class="layui-select block full-width" lay-ignore name="form_area"></select></label>
                    </div>
                </div>
                <label class="layui-col-xs12 relative block">
                    <span class="color-green font-w7 label-required-prev">收货详细地址</span>
                    <span class="color-desc margin-left-5">（原地址：{$vo.address_content|default=""} )</span>
                    <input name="address_content" required value='{$vo.address_content|default=""}' placeholder="请输入收货地址" class="layui-input">
                </label>
            </div>
        </fieldset>
        <fieldset class="margin-top-20">
            <legend><span class="layui-badge layui-bg-cyan">快递信息</span> <a class="margin-left-10 layui-badge layui-bg-blue" data-express-query>快递跟踪</a></legend>
            <label class="layui-form-item relative block">
                <span class="color-green font-w7 label-required-prev">快递配送公司</span>
                <span class="color-desc margin-left-5">Express delivery company</span>
                <select data-truck-code class="layui-select" name="company_code" lay-search>
                    {foreach $items as $item}
                    {if isset($vo.company_code) and $vo.company_code eq $item.code_1}
                    <option selected value="{$item.code_1}">{$item.name} ( {$item.code_1} )</option>
                    {else}
                    <option value="{$item.code_1}">{$item.name} ( {$item.code_1} )</option>
                    {/if}{/foreach}
                </select>
            </label>
            <label class="layui-form-item relative block">
                <span class="color-green font-w7 label-required-prev">快递配送单号</span>
                <span class="color-desc margin-left-5">Express delivery number</span>
                <input data-truck-number name="send_number" required value='{$vo.send_number|default=""}' placeholder="请输入快递配送单号" class="layui-input">
            </label>
            <label class="layui-form-item relative block">
                <span class="color-green font-w7">快递配送描述</span>
                <span class="color-desc margin-left-5">Express delivery description</span>
                <textarea placeholder="请输入快递配送描述" class="layui-textarea" name="send_remark">{$vo.send_remark|default=""}</textarea>
            </label>
        </fieldset>
    </div>
    <div class="hr-line-dashed"></div>
    {notempty name='vo.order_no'}<input type='hidden' value='{$vo.order_no}' name='order_no'>{/notempty}
    {notempty name='vo.send_datetime'}<input type='hidden' value='{$vo.send_datetime}' name='send_datetime'>{/notempty}
    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
    <script>
        require(['pcasunzips'], function () {
            (function (province, city, area) {
                new PCAS("form_province", "form_city", "form_area", province, city, area);
                window.form.render();
            })('{$vo.address_province|default=""}', '{$vo.address_city|default=""}', '{$vo.address_area|default=""}');
        });
        $('[data-express-query]').on('click', function () {
            (function (code, number) {
                $.form.modal('{:url("truckQuery")}', {code: code, number: number}, '快递追踪查询')
            })($('[data-truck-code]').val(), $('[data-truck-number]').val());
        });
    </script>
</form>