<form action="{:sysuri()}" method="post" data-auto="true" class="layui-form layui-card">
    <div class="layui-card-body padding-left-40">

        <label class="layui-form-item relative block">
            <span class="help-label"><b>发货人姓名</b></span>
            <input class="layui-input" name="name" placeholder="请输入发货人姓名" required value="{$vo.name|default=''}">
        </label>

        <label class="layui-form-item relative block">
            <span class="help-label"><b>发货人手机</b></span>
            <input class="layui-input" name="phone" placeholder="请输入发货人手机" required value="{$vo.phone|default=''}">
        </label>

        <div class="layui-form-item label-required-prev">
            <span class="help-label"><b>发货所在区域</b></span>
            <div class="layui-row layui-col-space10">
                <label class="layui-col-xs4"><select class="layui-select block full-width" lay-ignore name="province"></select></label>
                <label class="layui-col-xs4"><select class="layui-select block full-width" lay-ignore name="city"></select></label>
                <label class="layui-col-xs4"><select class="layui-select block full-width" lay-ignore name="area"></select></label>
            </div>
        </div>

        <label class="layui-form-item relative block">
            <span class="help-label"><b>发货详细地址</b></span>
            <textarea class="layui-textarea" name="content" placeholder="请输入发货详细地址" required>{$vo.content|default=""}</textarea>
        </label>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" data-close data-confirm="确定要取消编辑吗？" type='button'>取消编辑</button>
    </div>

    <script>
        require(['pcasunzips'], function () {
            (function (province, city, area) {
                new PCAS("province", "city", "area", province, city, area);
            })('{$vo.province|default=""}', '{$vo.city|default=""}', '{$vo.area|default=""}');
        });
    </script>
</form>