{extend name="../../admin/view/main"}

{block name="button"}
<!--{if auth('config')}-->
<a class="layui-btn layui-btn-sm layui-btn-primary" data-modal="{:url('config')}">发货地址管理</a>
<!--{/if}-->
{/block}

{block name="content"}
<div class="layui-tab layui-tab-card">
    <ul class="layui-tab-title notselect">
        {foreach ['ta'=>'全部订单','t1'=>'等待发货','t2'=>'已经发货','t0'=>'已经取消'] as $k => $v}
        {if isset($type) and 't'.$type eq $k}
        <li class="layui-this" data-open="{:url('index')}?type={$k}">{$v}<sup class="layui-badge border-radius">{$total[$k]??0}</sup></li>
        {else}
        <li data-open="{:url('index')}?type={$k}">{$v}<sup class="layui-badge border-radius">{$total[$k]??0}</sup></li>
        {/if}{/foreach}
    </ul>
    <div class="layui-tab-content">
        {include file='shop/send/index_search'}
        <table class="layui-table margin-top-10" lay-skin="line">
            {notempty name='list'}
            <thead>
            <tr>
                <th class='list-table-check-td think-checkbox'>
                    <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
                </th>
                <th>用户信息</th>
                <th>收货信息</th>
                <th>发货状态</th>
                <th></th>
            </tr>
            </thead>
            {/notempty}
            <tbody>
            {foreach $list as $key=>$vo}
            <tr>
                <td class='list-table-check-td think-checkbox'>
                    <label><input class="list-check-box" type='checkbox' value='{$vo.id}'></label>
                </td>
                <td class="nowrap relative">
                    <div class="headimg" data-lazy-src="{$vo.user.headimg|default='__ROOT__/static/theme/img/headimg.png'}" data-tips-image style="width:56px;height:56px"></div>
                    <div class="inline-block">
                        <div class="sub-strong-red">用户昵称：<span class="color-text">{$vo.user.nickname|default='-'}</span><span class="margin-left-5">[ <b>VIP{$vo.user.vip_code}</b> ] <b>{$vo.user.vip_name}</b></span></div>
                        <div>用户手机：<span class="color-text">{$vo.user.phone|default='-'}</span></div>
                        <div class="sub-strong-blue">订单单号：<b class="color-text">{$vo.order_no|default='-'}</b></div>
                    </div>
                </td>
                <td class="nowrap">
                    {notempty name='vo.address_idcode'}
                    <div>身份证号：{$vo.address_idcode|default='-'}</div>
                    {/notempty}
                    <div>收货姓名：{$vo.address_name|default='-'}<span class="margin-left-5 color-blue">{$vo.address_phone}</span></div>
                    <div>收货地址：{$vo.address_province|default='-'}{$vo.address_city}{$vo.address_area}{$vo.address_content}</div>
                    <div>提交时间：{$vo.address_datetime|format_datetime}</div>
                </td>
                <td class="nowrap">
                    {if empty($vo.send_datetime)}
                    <span class="layui-badge layui-bg-black">未发货</span>
                    {else}
                    <span class="layui-badge layui-bg-blue">{$vo.company_name|default='-'}</span>
                    <a class="layui-badge layui-bg-orange margin-left-5" data-modal="{:url('shop.send/query')}?code={$vo.company_code}&number={$vo.send_number}"
                       data-tips-text="快递追踪查询"
                       data-title="{$vo.company_name}（{$vo.send_number}）">{$vo.send_number|default='-'}</a>
                    <div class="margin-top-5">于 <b>{$vo.send_datetime|format_datetime} 发货！</b></div>
                    {/if}
                </td>
                <td class="color-desc">
                    <!--{if auth('shop.send/truck') and $vo.status eq 1}-->
                    <a class="layui-btn layui-btn-sm" data-modal="{:url('shop.send/truck')}?order_no={$vo.order_no}" data-title="填写订单信息">填写发货</a>
                    <!--{elseif auth('shop.send/truck') and $vo.status eq 2}-->
                    <a class="layui-btn layui-btn-sm" data-modal="{:url('shop.send/truck')}?order_no={$vo.order_no}" data-title="修改发货信息">修改发货</a>
                    <!--{/if}-->
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>

        {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

    </div>
</div>
{/block}
