<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">匹配内容</label>
        <div class="layui-input-inline">
            <input name="keys" value="{$get.keys|default=''}" placeholder="请输入匹配内容" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">规则类型</label>
        <div class="layui-input-inline">
            <select class="layui-select" name="mtype">
                <option value="">-- 全部 --</option>
                {foreach $types as $k => $v}{if $k.'' eq input('mtype')}
                <option selected value="{$k}">{$v}</option>
                {else}
                <option value="{$k}">{$v}</option>
                {/if}{/foreach}
            </select>
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">使用状态</label>
        <div class="layui-input-inline">
            <select class="layui-select" name="status">
                <option value="">-- 全部 --</option>
                {foreach ['显示已禁止的规则','显示已激活的规则'] as $k=>$v}
                {if isset($get.status) and $get.status eq $k.""}
                <option selected value="{$k}">{$v}</option>
                {else}
                <option value="{$k}">{$v}</option>
                {/if}{/foreach}
            </select>
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">创建时间</label>
        <div class="layui-input-inline">
            <input data-date-range name="create_at" value="{$get.create_at|default=''}" placeholder="请选择创建时间" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>
</form>