{if session('user.username') eq 'admin'}
<fieldset class="margin-bottom-15">
    <legend class="notselect">守护状态</legend>
    <div class="layui-code border-0 margin-top-0">
        <h4 class="color-desc margin-top-10 notselect">守护进程运行状态</h4>
        <div data-queue-message>Checking task process running status ...</div>
        <h4 class="color-desc margin-top-10 notselect">配置定时任务来检查并启动进程（建议每分钟执行）</h4>
        <p>{$command|default='--'}</p>
    </div>
    <script>$('[data-queue-message]').load('{:url("@admin/api.plugs/queue")}')</script>
</fieldset>
{/if}

<fieldset>
    <legend>条件搜索</legend>
    <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">任务编号</label>
            <label class="layui-input-inline">
                <input name="code" value="{:input('get.code')}" placeholder="请输入任务编号" class="layui-input">
            </label>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">任务名称</label>
            <label class="layui-input-inline">
                <input name="title" value="{:input('get.title')}" placeholder="请输入任务名称" class="layui-input">
            </label>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">任务指令</label>
            <label class="layui-input-inline">
                <input name="command" value="{:input('get.command')}" placeholder="请输入任务指令" class="layui-input">
            </label>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">任务状态</label>
            <label class="layui-input-inline">
                <select name="status" class="layui-select">
                    {foreach [''=>'-- 全部状态 --','1'=>'等待处理','2'=>'正在处理','3'=>'处理完成','4'=>'处理失败'] as $k=>$v}
                    {if input('get.status') eq $k}
                    <option selected value="{$k}">{$v}</option>
                    {else}
                    <option value="{$k}">{$v}</option>
                    {/if}{/foreach}
                </select>
            </label>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">计划时间</label>
            <label class="layui-input-inline">
                <input data-date-range name="exec_time" value="{:input('get.exec_time')}" placeholder="请选择计划时间" class="layui-input">
            </label>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">执行时间</label>
            <label class="layui-input-inline">
                <input data-date-range name="enter_time" value="{:input('get.enter_time')}" placeholder="请选择执行时间" class="layui-input">
            </label>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">创建时间</label>
            <label class="layui-input-inline">
                <input data-date-range name="create_at" value="{:input('get.create_at')}" placeholder="请选择创建时间" class="layui-input">
            </label>
        </div>
        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
        </div>
    </form>
</fieldset>

<script>form.render()</script>
