<div class="layui-card">
    {block name='style'}{/block}
    {block name='header'}
    {notempty name='title'}
    <div class="layui-card-header">
        <span class="layui-icon font-s10 color-desc margin-right-5">&#xe65b;</span>{$title|default=''}
        <div class="pull-right">{block name='button'}{/block}</div>
    </div>
    {/notempty}
    {/block}
    <div class="layui-card-line"></div>
    <div class="layui-card-body">
        <div class="layui-card-table">
            {block name='content'}{/block}
        </div>
    </div>
    {block name='script'}{/block}
</div>