{extend name="../../admin/view/main"}

{block name='content'}
<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body padding-40">

        <label class="layui-form-item relative block">
            <span class="color-green font-w7">页面名称</span>
            <span class="color-desc margin-left-5">Page Name</span>
            <input required name="name" value='{$data.name|default=""}' placeholder="请输入页面名称" class="layui-input">
        </label>

        <div class="layui-form-item relative block">
            <span class="color-green font-w7 label-required-prev">页面名称</span>
            <span class="color-desc margin-left-5">Page Content</span>
            <label class="relative block">
                <textarea class="layui-hide" name="content">{$data.content|default=''}</textarea>
            </label>
        </div>

        <div class="hr-line-dashed"></div>

        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn">保存数据</button>
            <button type='button' class="layui-btn layui-btn-danger" data-confirm="确定要取消编辑吗？" data-history-back>取消编辑</button>
        </div>
    </div>

</form>

<script>
    layui.form.render();
    require(['ckeditor'], function () {
        window.createEditor('[name=content]', {height: 500});
    });
</script>
{/block}