.env
.git
.svn
.idea
.fleet
.vscode
.DS_Store

/vendor
/runtime
/safefile
/nbproject
/composer.lock
!composer.json

/404.html
/.user.ini
/index.html
/public/upload
/public/404.html
/public/.user.ini
/public/index.html
/public/favicon.ico
/database/sqlite.db

/public/static/theme/css/_*.css*
/public/static/theme/css/node_modules
/public/static/theme/css/package-lock.json

### 屏蔽数据库脚本
/database/migrations/*_install_*.php
/database/migrations/*_upgrade_*.php
!database/migrations/*_install*_table.php
!database/migrations/*_install_package.php
