@charset "utf-8";

html {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

body {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.system {
    text-align: center;
    margin: -20% auto 0;
}

.system img {
    text-align: center;
    width: 500px;
}

.title {

}

.title h2 {
    color: #fff;
    font-size: 36px;
    letter-spacing: 4px;
    text-align: center;
    line-height: 120px;
}

.title h4 {
    color: #fff;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
}
