{extend name="main"}

{block name="button"}
<!--{if session('user.username') eq 'admin'}-->
<a class="layui-btn layui-btn-sm layui-btn-primary" data-queue="{:url('admin/api.plugs/optimize')}">优化数据库</a>
<!--{/if}-->
<!--{if auth('system')}-->
<a class="layui-btn layui-btn-sm layui-btn-primary" data-modal="{:url('system')}">修改系统参数</a>
<!--{/if}-->
{/block}

{block name="content"}

{notempty name='isSuper'}
<div class="layui-card padding-20">
    <div class="layui-card-header notselect">
        <b>运行模式</b><span class="color-desc font-s12 padding-left-5">Run Mode</span>
    </div>
    <div class="layui-card-body nowrap">
        <div class="layui-btn-group">
            {if $app->isDebug()}
            <a class="layui-btn layui-btn-sm layui-btn-active" data-tips-text="当前以开发模式运行中...">以开发模式运行</a>
            <a class="layui-btn layui-btn-sm layui-btn-primary" data-tips-text="立即切换到生产模式运行" data-load="{:url('admin/api.plugs/debug')}?state=1">以生产模式运行</a>
            {else}
            <a class="layui-btn layui-btn-sm layui-btn-primary" data-tips-text="立即切换到开发模式运行" data-load="{:url('admin/api.plugs/debug')}?state=0">以开发模式运行</a>
            <a class="layui-btn layui-btn-sm layui-btn-active" data-tips-text="当前以生产模式运行中...">以生产模式运行</a>
            {/if}
        </div>
    </div>
</div>
{/notempty}

<div class="layui-card padding-20">
    <div class="layui-card-header notselect">
        <b>存储引擎</b><span class="color-desc font-s12 padding-left-5">Storage Engine</span>
    </div>
    <div class="layui-card-body nowrap">
        <div class="layui-btn-group">
            {foreach ['local'=>'本地服务器存储','qiniu'=>'七牛云对象存储','alioss'=>'阿里云OSS存储'] as $k => $v} {if sysconf('storage.type') eq $k}
            {if auth('storage')}<a data-title="配置{$v}" data-tips-text="切换并配置以{$v}文件" data-modal="{:url('storage')}?type={$k}" class="layui-btn layui-btn-sm layui-btn-active">{$v}</a>{else}<a class="layui-btn layui-btn-sm layui-btn-active">{$v}</a>{/if}
            {else}
            {if auth('storage')}<a data-title="配置{$v}" data-tips-text="切换并配置以{$v}文件" data-modal="{:url('storage')}?type={$k}" class="layui-btn layui-btn-sm layui-btn-primary">{$v}</a>{else}<a class="layui-btn layui-btn-sm layui-btn-primary">{$v}</a>{/if}
            {/if}{/foreach}
        </div>
    </div>
</div>

<div class="layui-card padding-20">
    <div class="layui-card-header notselect">
        <b>系统参数</b><span class="color-desc font-s12 padding-left-5">System Parameter</span>
    </div>
    <div class="layui-card-body">
        <div class="layui-form-item">
            <span class="color-green font-w7">网站名称</span><span class="margin-left-5 color-desc">Website</span>
            <label class="relative block">
                <input readonly value="{:sysconf('site_name')}" class="layui-input layui-bg-gray">
                <a data-copy="{:sysconf('site_name')}" class="fa fa-copy input-right-icon"></a>
            </label>
            <div class="help-block">网站名称及网站图标，将显示在浏览器的标签上。</div>
        </div>
        <div class="layui-form-item">
            <span class="color-green font-w7">管理程序名称</span><span class="margin-left-5 color-desc">Name</span>
            <label class="relative block">
                <input readonly placeholder="请输入程序名称" value="{:sysconf('app_name')}" class="layui-input layui-bg-gray">
                <a data-copy="{:sysconf('app_name')}" class="fa fa-copy input-right-icon"></a>
            </label>
            <div class="help-block">管理程序名称，将显示在后台左上角标题。</div>
        </div>
        <div class="layui-form-item">
            <span class="color-green font-w7">管理程序版本</span><span class="margin-left-5 color-desc">Version</span>
            <label class="relative block">
                <input readonly value="{:sysconf('app_version')}" class="layui-input layui-bg-gray">
                <a data-copy="{:sysconf('app_version')}" class="fa fa-copy input-right-icon"></a>
            </label>
            <div class="help-block">管理程序版本，将显示在后台左上角标题。</div>
        </div>
        <div class="layui-form-item">
            <span class="color-green font-w7">公网备案号</span><span class="margin-left-5 color-desc">Baian</span>
            <label class="relative block">
                <input readonly value="{:sysconf('beian')}" placeholder="请输入公网备案号" class="layui-input layui-bg-gray">
                <a data-copy="{:sysconf('beian')}" class="fa fa-copy input-right-icon"></a>
            </label>
            <p class="help-block">公网备案号，可以在<a target="_blank" href="http://beian.miit.gov.cn">备案管理中心</a>查询获取，将在登录页面下面显示。</p>
        </div>
        <div class="layui-form-item">
            <span class="color-green font-w7">网站备案号</span><span class="margin-left-5 color-desc">Miitbeian</span>
            <label class="relative block">
                <input readonly value="{:sysconf('miitbeian')}" class="layui-input layui-bg-gray">
                <a data-copy="{:sysconf('miitbeian')}" class="fa fa-copy input-right-icon"></a>
            </label>
            <div class="help-block">网站备案号，可以在<a target="_blank" href="http://beian.miit.gov.cn">备案管理中心</a>查询获取，将显示在登录页面下面。</div>
        </div>
        <div class="layui-form-item">
            <span class="color-green font-w7">网站版权信息</span><span class="margin-left-5 color-desc">Copyright</span>
            <label class="relative block">
                <input readonly value="{:sysconf('site_copy')}" class="layui-input layui-bg-gray">
                <a data-copy="{:sysconf('site_copy')}" class="fa fa-copy input-right-icon"></a>
            </label>
            <div class="help-block">网站版权信息，在后台登录页面显示版本信息并链接到备案到信息备案管理系统。</div>
        </div>
    </div>
</div>

<div class="layui-card padding-20">
    <div class="layui-card-header notselect">
        <b>系统信息</b><span class="color-desc font-s12 padding-left-5">System Information</span>
    </div>
    <div class="layui-card-body">
        <table class="layui-table" lay-even>
            <tbody>
            <tr>
                <td>核心框架</td>
                <td>ThinkPHP Version {$app->version()}</td>
            </tr>
            <tr>
                <td>管理程序</td>
                <td><a target="_blank" href="https://thinkadmin.top">ThinkAdmin Version {$version|default='6.0.0'}</a></td>
            </tr>
            <tr>
                <td>服务器信息</td>
                <td>{:php_uname()}</td>
            </tr>
            <tr>
                <td>服务器软件</td>
                <td>{$request->server('SERVER_SOFTWARE',php_sapi_name())}</td>
            </tr>
            <tr>
                <td>PHP 版本</td>
                <td>PHP Version {$Think.const.PHP_VERSION}</td>
            </tr>
            <tr>
                <td>MySQL 版本</td>
                <td>MySQL Version {$app->db->query('SELECT VERSION()')[0]['VERSION()']}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

{/block}