{extend name='admin@main'}

{block name="content"}
<div class="think-box-shadow">
    {include file='message/index_search'}
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <input data-auto-none data-check-target='.list-check-box' type='checkbox'>
            </th>
            <th class='text-left nowrap'>发送手机</th>
            <th class='text-left nowrap'>短信内容</th>
            <th class='text-left nowrap'>返回结果</th>
            <th class='text-left nowrap'>发送时间</th>
            <th></th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td think-checkbox'><input class="list-check-box" value='{$vo.id}' type='checkbox'></td>
            <td>{$vo.phone|default=''}</td>
            <td>{$vo.content|default=''}</td>
            <td>{$vo.result|default=''}</td>
            <td>{$vo.create_at|default=''}<br></td>
            <td>
                {if auth("store/member/remove")}
                <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要删除数据吗?" data-action="{:url('remove')}" data-value="id#{$vo.id}">删 除</a>
                {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
</div>
{/block}
