{extend name="../../admin/view/full"}

{block name="content"}
<div class="iframe-pagination">
    {include file='user/admin/parent_search'}
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='nowrap'>用户信息</th>
            <th class='nowrap'>注册时间</th>
            <th class='nowrap'></th>
            <th></th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class="nowrap">
                <div class="headimg" data-lazy-src="{$vo.headimg|default='__ROOT__/static/theme/img/headimg.png'}" data-tips-image></div>
                <div class="inline-block">
                    <div>
                        {notempty name='vo.username'}
                        姓名：<span class="color-blue">{$vo.username|default='-'}</span>
                        {else}
                        昵称：<span class="color-blue">{$vo.nickname|default='-'}</span>
                        {/notempty}
                        <span class="margin-left-5">[ <b class="color-red">VIP{$vo.vip_code}</b> ] <b class="color-red">{$vo.vip_name}</b></span>
                    </div>
                    <div>手机：<span class="color-blue">{$vo.phone|default='-'}</span></div>
                </div>
            </td>
            <td class="nowrap">
                {notempty name='vo.from'}
                <div class="headimg" data-lazy-src="{$vo.from.headimg|default='__ROOT__/static/theme/img/headimg.png'}" data-tips-image></div>
                <div class="inline-block text-middle">
                    <!--{notempty name='vo.pids'}-->
                    <span class="layui-badge layui-badge-middle layui-bg-green">永久</span>
                    <!--{else}-->
                    <span class="layui-badge layui-badge-middle layui-bg-red">临时</span>
                    <!--{/notempty}-->
                </div>
                <div class="inline-block text-middle">
                    <div>
                        {notempty name='vo.from.username'}
                        姓名：<span class="color-blue">{$vo.from.username|default='-'}</span>
                        {else}
                        昵称：<span class="color-blue">{$vo.from.nickname|default='-'}</span>
                        {/notempty}
                        <span class="margin-left-5">[ <b class="color-red">VIP{$vo.from.vip_code}</b> ] <b class="color-red">{$vo.from.vip_name}</b></span>
                    </div>
                    <div>手机：<span>{$vo.from.phone|default='-'}</span></div>
                </div>
                {else}
                <div class="color-desc">没有代理</div>
                {/notempty}
            </td>
            <td class="nowrap">
                使用状态：{if $vo.status eq 0}<b class="color-red margin-right-5">已冻结</b>{elseif $vo.status eq 1}<b class="color-green margin-right-5">已激活</b>{/if}<br>
                注册时间：{$vo.create_at|format_datetime}
            </td>
            <td class="nowrap text-right">
                <!--{if auth("parent")}-->
                <a class="layui-btn layui-btn-sm layui-btn-primary" data-parent-uuid="{$get.uuid|default=''}" data-parent-pid="{$vo.id}">选择绑定</a>
                <!--{/if}-->
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
</div>
{/block}

{block name='script'}
<script>
    $('body').off('click', '[data-parent-uuid]').on('click', '[data-parent-uuid]', function () {
        $.form.load('{:sysuri()}', {uuid: this.dataset.parentUuid, pid: this.dataset.parentPid}, 'post', function (ret) {
            if (ret.code > 0) return $.msg.success(ret.info, 3, function () {
                top.layer.close(top.layer.getFrameIndex(window.name));
                top.$.form.reload();
            }), false;
        });
    });
</script>
{/block}
