{extend name='admin@main'}

{block name="button"}

<!--{if auth("store/express_province/add")}-->
<button data-modal='{:url("add")}' data-title="添加省份" class='layui-btn layui-btn-sm layui-btn-primary'>添加省份</button>
<!--{/if}-->

{if auth("store/express_province/remove")}
<button data-action='{:url("remove")}' data-csrf="{:systoken('store/express_province/remove')}" data-rule="id#{key}" class='layui-btn layui-btn-sm layui-btn-primary'>删除省份</button>
{/if}

{/block}

{block name="content"}
<div class="think-box-shadow">
    <table class="layui-table" lay-skin="line">
        <caption class="margin-bottom-10 text-left">{include file='express_province/index_search'}</caption>
        {notempty name='list'}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <input data-auto-none data-check-target='.list-check-box' type='checkbox'>
            </th>
            <th class='list-table-sort-td'>
                <button type="button" data-reload class="layui-btn layui-btn-xs">刷 新</button>
            </th>
            <th>省份名称</th>
            <th>创建时间</th>
            <th class="text-center">使用状态</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr data-dbclick>
            <td class='list-table-check-td think-checkbox'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'>
            </td>
            <td class='list-table-sort-td padding-left-0 padding-right-0'>
                <input data-action-blur="{:request()->url()}" data-value="id#{$vo.id};action#sort;sort#{value}" data-loading="false" value="{$vo.sort}" class="list-sort-input">
            </td>
            <td class="nowrap">{$vo.title|default='--'}</td>
            <td class="nowrap">{$vo.create_at|format_datetime}</td>
            <td class='text-center nowrap'>
                {eq name='vo.status' value='0'}<span class="layui-badge">已禁用</span>{else}<span class="layui-badge layui-bg-green">使用中</span>{/eq}
            </td>
            <td class='text-center nowrap notselect'>

                {if auth("store/express_province/edit")}
                <a data-dbclick class="layui-btn layui-btn-xs" data-title="编辑区域" data-modal='{:url("store/express_province/edit")}?id={$vo.id}'>编 辑</a>
                {/if}

                {if $vo.status eq 1 and auth("store/express_province/forbid")}
                <a class="layui-btn layui-btn-warm layui-btn-xs" data-action="{:url('forbid')}" data-value="id#{$vo.id};status#0" data-csrf="{:systoken('store/express_province/forbid')}">禁 用</a>
                {elseif auth("store/express_province/resume")}
                <a class="layui-btn layui-btn-warm layui-btn-xs" data-action="{:url('resume')}" data-value="id#{$vo.id};status#1" data-csrf="{:systoken('store/express_province/resume')}">启 用</a>
                {/if}

                {if auth("store/express_province/remove")}
                <a class="layui-btn layui-btn-danger layui-btn-xs" data-confirm="确定要删除数据吗?" data-action="{:url('remove')}" data-value="id#{$vo.id}" data-csrf="{:systoken('store/express_province/remove')}">删 除</a>
                {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
        {/notempty}
    </table>
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
</div>
{/block}