{extend name='admin@main'}

{block name="content"}
<div class="think-box-shadow">
    {include file='member/index_search'}
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <input data-auto-none data-check-target='.list-check-box' type='checkbox'>
            </th>
            <th class='text-left nowrap'>会员昵称</th>
            <th class='text-left nowrap'>会员手机</th>
            <th class='text-left nowrap'>会员级别</th>
            <th class='text-left nowrap'>注册时间</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td think-checkbox'>
                <label><input class="list-check-box" value='{$vo.id}' type='checkbox'></label>
            </td>
            <td class='text-left nowrap'>
                {notempty name='vo.headimg'}
                <img data-tips-image style="width:20px;height:20px;vertical-align:top" src="{$vo.headimg|default=''}" class="margin-right-5">
                {/notempty}
                <div class="inline-block">{$vo.nickname|default='--'}</div>
            </td>
            <td class='text-left'>{$vo.phone|default='--'}</td>
            <td class='text-left'>
                {if $vo.vip_level eq 0} 游客会员
                {elseif $vo.vip_level eq 1} 临时会员（{$vo.vip_date|default=''}）
                {elseif $vo.vip_level eq 2} VIP1会员（{$vo.vip_date|default=''}）
                {elseif $vo.vip_level eq 3} VIP2会员（{$vo.vip_date|default=''}）
                {/if}
            </td>
            <td class='text-left'>{$vo.create_at|format_datetime}</td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
</div>
{/block}
