<style xmlns="http://www.w3.org/1999/html">
    .payment-type td .layui-form-checkbox {
        margin: 0 !important;
        padding-left: 25px !important;
    }

    .payment-type td .layui-form-switch {
        margin: 0 !important;
    }
</style>

<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body padding-left-40">

        <div class="layui-form-item relative block">
            <span class="color-green font-w7 label-required-prev">用户提现状态</span>
            <span class="color-desc margin-left-5">Transfer Status</span>
            <div class="layui-textarea" style="min-height:auto;padding:10px 0 13px 18px">
                {php} $data['status'] = $data['status'] ?? 0; {/php}
                {foreach ['关闭用户提现', '开启用户提现'] as $k => $v}
                {if $data.status eq $k}
                <input checked class="layui-input layui-bg-gray" type="radio" title="{$v}" name="status" value="{$k}">
                {else}
                <input class="layui-input layui-bg-gray" type="radio" title="{$v}" name="status" value="{$k}">
                {/if}{/foreach}
            </div>
        </div>

        <label class="layui-form-item relative block">
            <span class="color-green font-w7 label-required-prev">提现手续费配置</span>
            <span class="color-desc margin-left-5">Transfer Charge</span>
            <input name="charge" class='layui-input' data-value-min="0.0000" data-value-max="50.0000" data-blur-number="4" value='{$data.charge|default="0.0000"}'>
            <span class='help-block'>请输入提现金额的百分比，费率的取值范围为 0.0000% - 50.0000%</span>
        </label>

        <div class="layui-form-item">
            <span class="color-green font-w7 label-required-prev">提现方式状态配置</span>
            <span class="color-desc margin-left-5">Transfer Types</span>
            <table class="layui-table payment-type" lay-skin="nob">
                <thead>
                <tr>
                    <th class="text-center notselect"><b>提现转账方式</b></th>
                    <td class="text-center notselect"><b>是否需要审核</b></td>
                    <td class="text-center notselect"><b>单笔最小提现金额（ 元 ）</b></td>
                    <td></td>
                    <td class="text-center notselect"><b>单笔最大提现金额（ 元 ）</b></td>
                </tr>
                </thead>
                <tbody>
                {foreach $types as $k => $t}
                <tr class="think-bg-white">
                    <td class="nowrap">
                        {php} $key = 'items['.$k.']["state"]'; {/php}
                        <input type="hidden" name="{$key}" value="0">
                        {if isset($data['items'][$k]['state']) and $data['items'][$k]['state'] eq 1}
                        <input checked type="checkbox" name="{$key}" value="1" lay-skin="primary" title="{$t}">
                        {else}
                        <input type="checkbox" name="{$key}" value="1" lay-skin="primary" title="{$t}">
                        {/if}
                    </td>
                    <td class="text-center" style="width:80px">
                        {php} $key = 'items['.$k.']["audit"]'; {/php}
                        <input type="hidden" name="{$key}" value="0">
                        {if isset($data['items'][$k]['audit']) and $data['items'][$k]['audit'] eq 1}
                        <input checked type="checkbox" name="{$key}" value="1" lay-skin="switch" lay-text="需审核|免审核">
                        {else}
                        <input type="checkbox" name="{$key}" value="1" lay-skin="switch" lay-text="需审核|免审核">
                        {/if}
                        {php} $key = 'items['.$k.'][title]'; {/php}
                        <input type="hidden" class="layui-input" name="{$key}" value="{$t}">
                    </td>
                    <td class="text-center">
                        <label>
                            {php} $key = 'items['.$k.'][minAmount]'; {/php}
                            <input placeholder="￥" class="layui-input" data-blur-number="2" name="{$key}" value="{$data['items'][$k]['minAmount'] ?? '1.00'}">
                        </label>
                    </td>
                    <td class="text-center">-</td>
                    <td class="text-center">
                        <label>
                            {php} $key = 'items['.$k.'][maxAmount]'; {/php}
                            <input placeholder="￥" class="layui-input" data-blur-number="2" name="{$key}" value="{$data['items'][$k]['maxAmount'] ?? '2000.00'}">
                        </label>
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
        </div>

        <div class="layui-form-item relative block">
            <span class="color-green font-w7">用户提现描述内容</span>
            <span class="color-desc margin-left-5">Transfer Remark</span>
            <label class="relative block">
                <textarea class="layui-textarea" placeholder="请输入用户提现描述内容" name="remark">{$data.remark|default=''}</textarea>
            </label>
        </div>

    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>

    <script>layui.form.render();</script>
</form>