{extend name="../../admin/view/main"}

{block name="content"}
<div class="think-box-shadow table-block">
    {include file='luckdraw_record/index_search'}
    <table class="layui-table" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <input data-auto-none="" data-check-target='.list-check-box' type='checkbox'>
            </th>
            <th class='text-left nowrap'>中奖信息</th>
            <th class='text-left nowrap'>活动信息</th>
            <th class='text-left nowrap'>奖品信息</th>
            <th class='text-left nowrap'>核销信息</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td think-checkbox'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'>
            </td>
            <td class='text-left nowrap'>
                姓名：{$vo.username|default=''}<br>
                手机：{$vo.phone|default=''}
            </td>
            <td class='text-left nowrap'>
                活动编号：{$vo.info.code|default=''}<br>
                活动名称：{$vo.info.name|default=''}
            </td>
            <td class='text-left nowrap'>
                {if $vo.prize_code neq ''}
                <div>奖品编号：{$vo.prize_code|default=''}{$vo.prize_express ? "<span class='color-blue margin-left-5'>需要发货</span>":"<span class='color-desc margin-left-5'>无需发货</span>"}</div>
                <div>奖品名称：{$vo.prize_name|default=''}<span class='color-blue margin-left-5'>{$vo.prize_level|default=''}</span></div>
                {else}<span class="color-desc">未中奖</span>{/if}
            </td>
            <td class='text-left nowrap'>
                中奖时间：{$vo.create_at|format_datetime}<br>
                核销状态：{if $vo.prize_code neq ''}{if empty($vo.prize_express)}{$vo.uncode_datetime|default='未核销'}
                {else}{$vo.express_province|default=''}{$vo.express_city|default=''}{$vo.express_area|default=''}{$vo.express_address|default=''}{/if}
                {else}<span class="color-desc">未中奖</span>{/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
</div>
{/block}