<fieldset>

    <legend>条件搜索</legend>

    <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">中奖姓名</label>
            <label class="layui-input-inline">
                <input name="username" value="{:input('username','')}" placeholder="请输入中奖姓名" class="layui-input">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">中奖手机</label>
            <label class="layui-input-inline">
                <input name="phone" value="{:input('phone','')}" placeholder="请输入中奖手机" class="layui-input">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">中奖级别</label>
            <label class="layui-input-inline">
                <input name="prize_level" value="{:input('prize_level','')}" placeholder="请输入中奖级别" class="layui-input">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">活动名称</label>
            <label class="layui-input-inline">
                <select class="layui-select" name="code" lay-search>
                    <option value="">- 全部记录 -</option>
                    {foreach $prizes as $k => $v}
                    {if input('code','') eq $v.code}
                    <option selected value="{$v.code}">{$v.name}</option>
                    {else}
                    <option value="{$v.code}">{$v.name}</option>
                    {/if}{/foreach}
                </select>
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">核销状态</label>
            <label class="layui-input-inline">
                <select class="layui-select" name="uncode_status">
                    {foreach [''=>'-- 全部 --','0'=>'未核销的奖品','1'=>'已核销的奖品'] as $k=>$v}
                    {if input('uncode_status') eq $k.''}
                    <option selected value="{$k}">{$v}</option>
                    {else}
                    <option value="{$k}">{$v}</option>
                    {/if}{/foreach}
                </select>
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">中奖时间</label>
            <label class="layui-input-inline">
                <input data-date-range name="create_at" value="{:input('create_at','')}" placeholder="请选择中奖时间" class="layui-input">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">核销时间</label>
            <label class="layui-input-inline">
                <input data-date-range name="uncode_datetime" value="{:input('uncode_datetime','')}" placeholder="请选择核销时间" class="layui-input">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <button type="submit" class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
            <button type="button" data-form-export="{:url('index')}" class="layui-btn layui-btn-primary">
                <i class="layui-icon layui-icon-export"></i> 导 出
            </button>
        </div>
    </form>

</fieldset>

<script>
    window.form.render();
    require(['excel'], function (excel) {
        excel.bind(function (data) {
            data.forEach(function (item, index) {
                data[index] = [
                    item.username,
                    item.phone,
                    item.info.code || '',
                    item.info.name || '',
                    item.prize_code || '',
                    item.prize_name || '',
                    item.prize_level || '',
                    item.create_at,
                    item.prize_express ? '需要发货' : '不需要发货',
                    item.prize_express ?
                        (item.express_province || '') + (item.express_city || '') + (item.express_area || '') + (item.express_address || '') :
                        (item.uncode_status ? '已核销' : '未核销'),
                ];
            });
            data.unshift(['中奖姓名', '中奖手机', '活动编号', '活动名称', '奖品编号', '奖品名称', '奖品等级', '中奖时间', '是否需要发货', '收货地址']);
            return data;
        }, '中奖记录数据');
    });
</script>