{extend name="../../admin/view/full"}

{block name='content'}
<div class="iframe-pagination">
    {include file='news_mark/index_search'}
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
            </th>
            <th class='list-table-sort-td'>
                <button type="button" data-reload class="layui-btn layui-btn-xs">刷 新</button>
            </th>
            <th class="text-left nowrap">标签名称</th>
            <th class="text-left nowrap">标签状态</th>
            <th class="text-left nowrap">创建时间</th>
            <th class="text-left nowrap"></th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr data-dbclick>
            <td class='list-table-check-td think-checkbox'>
                <label><input class="list-check-box" value='{$vo.id}' type='checkbox'></label>
            </td>
            <td class='list-table-sort-td'>
                <label><input data-action-blur="{:request()->url()}" data-value="id#{$vo.id};action#sort;sort#{value}" data-loading="false" value="{$vo.sort}" class="list-sort-input"></label>
            </td>
            <td class="text-left nowrap">{$vo.name|default=''}</td>
            <td>{if $vo.status eq 0}<span class="color-red">已禁用</span>{elseif $vo.status eq 1}<span class="color-green">已激活</span>{/if}</td>
            <td class="text-left nowrap">{$vo.create_at|format_datetime}</td>
            <td class='text-left nowrap'>
                {if auth("edit")}
                <a data-dbclick class="layui-btn layui-btn-sm" data-width="500px" data-title="编辑标签" data-modal="{:url('edit')}?id={$vo.id}">编 辑</a>
                {/if}
                {if auth("state") and $vo.status eq 1}
                <a class="layui-btn layui-btn-sm layui-btn-warm" data-action="{:url('state')}" data-value="id#{$vo.id};status#0">禁 用</a>
                {/if}
                {if auth("state") and $vo.status eq 0}
                <a class="layui-btn layui-btn-sm layui-btn-warm" data-action="{:url('state')}" data-value="id#{$vo.id};status#1">激 活</a>
                {/if}
                {if auth("remove")}
                <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要删除该标签吗？" data-action="{:url('remove')}" data-value="id#{$vo.id}">删 除</a>
                {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
    <div class="absolute" style="bottom:5px;right:10px">
        <!--{if auth("add")}-->
        <button type="button" data-width="500px" data-modal='{:url("add")}' data-title="添加标签" class='layui-btn layui-btn-sm'>添加标签</button>
        <!--{/if}-->
    </div>
</div>
{/block}