<fieldset>
    <legend>条件搜索</legend>
    <form action="{:sysuri()}" autocomplete="off" class="layui-form layui-form-pane form-search" method="get" onsubmit="return false">

        <!-- {notempty name='marks'} -->
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">资讯标签</label>
            <div class="layui-input-inline">
                <select name="mark" lay-search class="layui-select">
                    <option value=''>-- 资讯标签 --</option>
                    {foreach $marks as $mark}{if isset($get.mark) and $mark eq $get.mark}
                    <option selected value="{$mark.name}">{$mark.name}</option>
                    {else}
                    <option value="{$mark.name}">{$mark.name}</option>
                    {/if}{/foreach}
                </select>
            </div>
        </div>
        <!-- {/notempty} -->

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">资讯标题</label>
            <label class="layui-input-inline">
                <input class="layui-input" name="name" placeholder="请输入资讯标题" value="{$get.name|default=''}">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">使用状态</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="status">
                    <option value=''>-- 全部 --</option>
                    {foreach ['显示禁用的资讯', '显示正常的资讯'] as $k=>$v}
                    {if isset($get.status) and $get.status eq $k.''}
                    <option selected value="{$k}">{$v}</option>
                    {else}
                    <option value="{$k}">{$v}</option>
                    {/if}{/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">创建时间</label>
            <label class="layui-input-inline">
                <input class="layui-input" data-date-range name="create_at" placeholder="请选择创建时间" value="{$get.create_at|default=''}">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
        </div>
    </form>

</fieldset>