<form action="{:sysuri()}" autocomplete="off" class="layui-form layui-form-pane form-search" method="get" onsubmit="return false">

    <!-- {notempty name='marks'} -->
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">文章标签</label>
        <div class="layui-input-inline">
            <select name="mark" lay-search class="layui-select">
                <option value=''>-- 文章标签 --</option>
                {foreach $marks as $mark}{if isset($get.mark) and $mark.name eq $get.mark}
                <option selected value="{$mark.name}">{$mark.name}</option>
                {else}
                <option value="{$mark.name}">{$mark.name}</option>
                {/if}{/foreach}
            </select>
        </div>
    </div>
    <!-- {/notempty} -->

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">文章标题</label>
        <label class="layui-input-inline">
            <input class="layui-input" name="name" placeholder="请输入文章标题" value="{$get.name|default=''}">
        </label>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">创建时间</label>
        <label class="layui-input-inline">
            <input class="layui-input" data-date-range name="create_at" placeholder="请选择创建时间" value="{$get.create_at|default=''}">
        </label>
    </div>

    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>
</form>