<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">

    <div class="layui-card-body">

        <div class="layui-form-item">
            <label class="layui-form-label">商品名称</label>
            <div class="layui-input-block">
                <div class="layui-input layui-bg-gray">{$vo.title}</div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">规格详情</label>
            <div class="layui-input-block">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th class="text-left">商品规格</th>
                        <th class="text-center">销售价格</th>
                        <th class="text-center">库存统计</th>
                        <th class="text-center">总销统计</th>
                        <th class="text-center">库存剩余</th>
                        <th class="text-center">入库数量</th>
                    </tr>
                    </thead>
                    <!--{foreach $vo.list as $goods}-->
                    <tr>
                        <td class="padding-0" width="50%">
                            <input class="layui-input layui-bg-gray border-0" disabled value="{$goods.goods_spec}">
                        </td>
                        <td class="padding-0" width="10%">
                            <input class="layui-input text-center layui-bg-gray border-0 padding-left-0" disabled value="￥{$goods.price_selling}">
                        </td>
                        <td class="padding-0" width="10%">
                            <input class="layui-input text-center layui-bg-gray border-0 padding-left-0" disabled value="{$goods.number_stock}">
                        </td>
                        <td class="padding-0" width="10%">
                            <input class="layui-input text-center layui-bg-gray border-0 padding-left-0" disabled value="{$goods.number_sales} ">
                        </td>
                        <td class="padding-0" width="10%">
                            <input class="layui-input text-center layui-bg-gray border-0 padding-left-0" disabled value="{$goods.number_stock-$goods.number_sales} ">
                        </td>
                        <td class="padding-0" width="10%">
                            <input type="hidden" name="goods_id[]" value="{$goods.goods_id|default=''}">
                            <input type="hidden" name="goods_spec[]" value="{$goods.goods_spec|default=''}">
                            <input class="layui-input text-center border-0 padding-left-0" onblur="this.value=parseInt(this.value)||0" name="goods_number[]" value="0">
                        </td>
                    </tr>
                    <!--{/foreach}-->
                </table>
            </div>
        </div>

    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>确定入库</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消入库吗？" data-close>取消入库</button>
        <!--{notempty name='vo.id'}--><input type='hidden' value='{$vo.id}' name='id'><!--{/notempty}-->
    </div>

</form>
