<fieldset>
    <legend>条件搜索</legend>
    <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">用户手机</label>
            <label class="layui-input-inline">
                <input name="user_phone" value="{:input('user_phone')}" placeholder="请输入用户手机" class="layui-input">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">用户昵称</label>
            <label class="layui-input-inline">
                <input name="user_nickname" value="{:input('user_nickname')}" placeholder="请输入用户昵称" class="layui-input">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">订单单号</label>
            <label class="layui-input-inline">
                <input name="order_no" value="{:input('order_no')}" placeholder="请输入订单单号" class="layui-input">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">发货单号</label>
            <label class="layui-input-inline">
                <input name="truck_number" value="{:input('truck_number')}" placeholder="请输入发货单号" class="layui-input">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">发货状态</label>
            <label class="layui-input-inline">
                <select class="layui-select" name="status">
                    <option value="">-- 全部 --</option>
                    {foreach ['已取消的订单','待发货的订单','已发货的订单'] as $k=>$v}
                    {if input('status') eq $k.''}
                    <option selected value="{$k}">{$v}</option>
                    {else}
                    <option value="{$k}">{$v}</option>
                    {/if}{/foreach}
                </select>
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">提交时间</label>
            <label class="layui-input-inline">
                <input data-date-range name="address_datetime" value="{:input('address_datetime')}" placeholder="请选择提交时间" class="layui-input">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">发货时间</label>
            <label class="layui-input-inline">
                <input data-date-range name="send_datetime" value="{:input('send_datetime')}" placeholder="请选择发货时间" class="layui-input">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">收货姓名</label>
            <label class="layui-input-inline">
                <input name="address_name" value="{:input('address_name')}" placeholder="请输入收货姓名" class="layui-input">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">收货手机</label>
            <label class="layui-input-inline">
                <input name="address_phone" value="{:input('address_phone')}" placeholder="请输入收货手机" class="layui-input">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">配送地址</label>
            <label class="layui-input-inline">
                <input name="address_content" value="{:input('address_content')}" placeholder="请输入配送地址" class="layui-input">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <button type="submit" class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
            <button type="button" data-form-export="{:url('index')}?type={$type|default=''}" class="layui-btn layui-btn-primary">
                <i class="layui-icon layui-icon-export"></i> 导 出
            </button>
        </div>
    </form>
</fieldset>

<script>
    window.form.render();
    require(['excel'], function (excel) {
        excel.bind(function (data) {
            var rows = [];
            data.forEach(function (order) {
                order.items.forEach(function (item) {
                    rows.push([
                        order.order_no,
                        item.goods_name,
                        item.stock_sales,
                        item.price_selling,
                        item.total_selling,
                        '{$address.name|default=""}',
                        order.truck.address_idcode,
                        order.truck.address_name,
                        order.truck.address_phone,
                        order.truck.address_province,
                        order.truck.address_city,
                        order.truck.address_area,
                        order.truck.address_content,
                    ]);
                })
            });
            rows.unshift([
                '订单号', '物品名称', '数量', '单价', '总额',
                '寄件方', '身份证号', '收货人', '电话', '省份', '城市', '区', '地址'
            ]);
            return rows;
        }, '订单发货记录');
    });
</script>