<form onsubmit="return false;" action="{:request()->url()}" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">

    <div class="layui-card-body">

        <div class="layui-form-item">
            <label class="layui-form-label">快递名称</label>
            <div class="layui-input-block">
                <input name="express_title" required value='{$vo.express_title|default=""}' placeholder="请输入快递名称" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">快递编码</label>
            <div class="layui-input-block">
                <input name="express_code" required value='{$vo.express_code|default=""}' placeholder="请输入快递编码" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">快递描述</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" name="express_desc">{$vo.express_desc|default=''}</textarea>
            </div>
        </div>

    </div>

    <div class="hr-line-dashed"></div>
    {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>

</form>
