{extend name="../../admin/view/main"}

{block name='content'}
<div class="layui-row layui-col-space15 portal-block-container notselect">
    {foreach $pageTypes as $key=>$type}
    <div class="layui-col-sm4 layui-col-md4 layui-col-lg3">
        <!--{if auth('edit')}-->
        <div class="pointer" data-open="{:url('edit')}?type={$key}">
            <div class="portal-block-item nowrap think-bg-violet">
                <div class="font-s14">编辑页面</div>
                <div class="font-s16">{$type|default=''}</div>
            </div>
            <i class="portal-block-icon layui-icon layui-icon-read"></i>
        </div>
        <!--{else}-->
        <div>
            <div class="portal-block-item nowrap think-bg-violet">
                <div class="font-s14">编辑页面</div>
                <div class="font-s16">{$type|default=''}</div>
            </div>
            <i class="portal-block-icon layui-icon layui-icon-read"></i>
        </div>
        <!--{/if}-->
    </div>
    {/foreach}
</div>
{/block}