<fieldset>
    <legend>条件搜索</legend>
    <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">商品编号</label>
            <label class="layui-input-inline">
                <input name="code" value="{:input('code','')}" placeholder="请输入商品编号" class="layui-input">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">商品名称</label>
            <label class="layui-input-inline">
                <input name="name" value="{:input('name','')}" placeholder="请输入商品名称" class="layui-input">
            </label>
        </div>

        {notempty name='marks'}
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">商品标签</label>
            <label class="layui-input-inline">
                <select class="layui-select" name="mark" lay-search>
                    <option value="">-- 全部标签 --</option>
                    {foreach $marks as $mark}{if input('mark','') eq $mark}
                    <option selected value="{$mark}">{$mark}</option>
                    {else}
                    <option value="{$mark}">{$mark}</option>
                    {/if}{/foreach}
                </select>
            </label>
        </div>
        {/notempty}

        {notempty name='clist'}
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">商品分类</label>
            <label class="layui-input-inline">
                <select class="layui-select" name="cate" lay-search>
                    <option value="">-- 全部分类 --</option>
                    {foreach $clist as $cate}{if input('cate','') eq $cate.id}
                    <option {$cate.sat} selected value="{$cate.id}">{$cate.spl}{$cate.name|default=''}</option>
                    {else}
                    <option {$cate.sat} value="{$cate.id}">{$cate.spl}{$cate.name|default=''}</option>
                    {/if}{/foreach}
                </select>
            </label>
        </div>
        {/notempty}

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">销售状态</label>
            <label class="layui-input-inline">
                <select class="layui-select" name="status">
                    <option value=''>-- 全部状态 --</option>
                    {foreach ['已下架的商品','销售中的商品'] as $k=>$v}
                    {if input('status','-') eq $k.''}
                    <option selected value="{$k}">{$v}</option>
                    {else}
                    <option value="{$k}">{$v}</option>
                    {/if}{/foreach}
                </select>
            </label>
        </div>
        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
        </div>
    </form>
</fieldset>
