{extend name='admin@main'}

{block name="content"}
<div class="think-box-shadow">
    {include file='order/index_search'}
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <input data-auto-none data-check-target='.list-check-box' type='checkbox'>
            </th>
            <th class="text-left nowrap">会员信息</th>
            <th class='text-left nowrap'>订单信息</th>
            <th class='text-left nowrap'>发货信息</th>
            <th class='text-right nowrap'>商品信息</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td think-checkbox'><input class="list-check-box" value='{$vo.id}' type='checkbox'></td>
            <td class="text-left nowrap relative">
                {notempty name='vo.member.headimg'}
                <img data-tips-image style="width:80px;height:80px" src="{$vo.member.headimg|default=''}" class="margin-right-5 text-top">
                {/notempty}
                <div class="inline-block">
                    推荐会员：{$vo.from_member.nickname|default='--'}<br>
                    推荐手机：{$vo.from_member.phone|default='--'}<br>
                    会员昵称：{$vo.member.nickname|default='--'}<br>
                    会员手机：{$vo.member.phone|default='--'}<br>
                </div>
            </td>
            <td class='text-left nowrap'>
                订单单号：<span class="color-blue">{$vo.order_no|default=''}</span>
                {eq name='vo.status' value='1'}<span class="layui-badge layui-bg-red margin-left-5">预订单</span>{/eq}
                {eq name='vo.status' value='2'}<span class="layui-badge layui-bg-orange margin-left-5">待付款</span>{/eq}
                {eq name='vo.status' value='3'}<span class="layui-badge layui-bg-black margin-left-5">待发货</span>{/eq}
                {eq name='vo.status' value='4'}<span class="layui-badge layui-bg-green margin-left-5">已发货</span>{/eq}
                {eq name='vo.status' value='5'}<span class="layui-badge layui-bg-blue margin-left-5">已完成</span>{/eq}
                <br>
                订单金额：<strong class="color-blue">{$vo.price_total+0}</strong> 元
                分成 <strong class="color-blue">{$vo.price_rate_amount+0}</strong> 元
                已支付 <strong class="color-blue">{$vo.pay_price+0}</strong> 元<br>
                下单时间：{$vo.create_at|format_datetime}<br>
                支付时间：{$vo.pay_at|format_datetime|default='--'}<br>
            </td>
            <td class="text-left nowrap">
                收货信息：{$vo.express_name|default='--'}<span class="margin-left-5 color-blue">{$vo.express_phone}</span><br>
                收货地址：{$vo.express_province|default='--'}{$vo.express_city}{$vo.express_area}{$vo.express_address}<br>
                发货状态：{eq name='vo.express_state' value='0'}
                <span class="layui-badge layui-bg-black">未发货</span>
                {else}
                <span class="layui-badge layui-bg-blue">{$vo.express_company_title|default='--'}</span>
                <a data-title="{$vo.express_company_title}（{$vo.express_send_no}）" data-tips-text="快递追踪查询"
                   data-modal="{:url('expressQuery')}?code={$vo.express_company_code}&no={$vo.express_send_no}"
                   class="layui-badge layui-bg-gray margin-left-5">{$vo.express_send_no|default='--'}</a>
                {/eq}
                {if $vo.status eq 3}
                <a class=" margin-left-5" data-title="填写订单信息" data-modal="{:url('express')}?id={$vo.id}">填写发货信息</a>
                {elseif $vo.status eq 4}
                <a class=" margin-left-5" data-title="修改发货信息" data-modal="{:url('express')}?id={$vo.id}">修改发货信息</a>
                {/if}
                <br>
                发货时间：{$vo.express_send_at|format_datetime}<br>
            </td>
            <td class="nowrap">
                {foreach $vo.list as $g}
                <div class="nowrap">
                    <p class="text-right">{$g.goods_title|default=''} x{$g.number_goods|default=0}</p>
                    <p class="text-right color-desc">
                        售价 {$g.price_real} 元,分成比例 {$g.price_rate+0}%，分成金额 {$g.price_rate_amount+0} 元
                    </p>
                </div>
                {/foreach}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
{/block}
