<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body padding-left-40">
        <div class="layui-textarea border-0 font-s14 layui-bg-gray padding-top-20 padding-left-20">
            <div class="layui-row margin-bottom-15">
                <div class="layui-col-xs6">模块名称：<b class="color-green">{$module.name}</b></div>
                <div class="layui-col-xs6">开发作者：<b class="color-green">{$module.author}</b></div>
            </div>
            <div class="layui-row margin-bottom-15">
                <div class="layui-col-xs6">最新版本：<b class="color-green">{$module.version}</b></div>
                <div class="layui-col-xs6">{if isset($current.version)}已安装版本：<b class="color-green">{$current.version}</b>{/if}</div>
            </div>
            <div class="margin-bottom-15">模块描述：{$module.content}</div>
        </div>
        <ul class="layui-timeline margin-top-30 margin-bottom-30" style="max-height:400px;overflow:auto">
            {foreach $module.change as $version=>$change}
            <li class="layui-timeline-item">
                {if isset($current.version) and $current.version eq $version}
                <i class="layui-icon layui-timeline-axis">&#xe756;</i>
                {else}
                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                {/if}
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">
                        版本号 {$version} <span class="margin-left-10 font-s13 color-desc">{$change.version|default=''}</span>
                    </h3>
                    {$change.content|default=''|raw}
                </div>
            </li>
            {/foreach}
            <li class="layui-timeline-item"></li>
        </ul>
    </div>
</form>