<form action="{:sysuri()}" method="post" data-auto="true" class="layui-form layui-card" data-table-id="TagsData">
    <div class="layui-card-body padding-left-40">

        <label class="layui-form-item relative block">
            <span class="help-label"><b>标签名称</b>Mark Name</span>
            <input class="layui-input" name="name" placeholder="请输入标签名称" required value="{$vo.name|default=''}"/>
            <span class="help-block"><b>必填，</b>请填写标签名称，建议字符不要太长</span>
        </label>

        <div class="layui-form-item relative">
            <span class="help-label"><b>标签描述</b>Mark Remark</span>
            <label class="relative block">
                <textarea class="layui-textarea" name="desc" placeholder="请输入文档描述">{$vo.desc|default=''}</textarea>
            </label>
        </div>

    </div>

    <div class="hr-line-dashed"></div>
    {notempty name='vo.id'}<input name='id' type='hidden' value='{$vo.id}'>{/notempty}

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" data-close type='button' data-confirm="确定要取消修改吗？">取消编辑</button>
    </div>
</form>