<form onsubmit="return false;" data-auto="true" action="{:url('save')}" method="post" class='layui-form layui-card' autocomplete="off">

    <div class="layui-card-body padding-40">

        <label class="layui-form-item block relative">
            <span class="color-green margin-right-10">接口查询状态</span><span class="nowrap color-desc">UserState</span>
            {if empty($query2.code)}
            <p class="layui-input layui-bg-gray color-red">{$query2.msg|default=''}</p>
            {elseif $query2.code eq 1}
            <p class="layui-input layui-bg-gray color-green">平台剩余 {$query2.num|default=0} 元可用余额，{$query2.msg|default=''}</p>
            {else}
            <p class="layui-input layui-bg-gray color-text">没有结果</p>
            {/if}
        </label>

        <label class="layui-form-item margin-top-20 block relative">
            <span class="color-green margin-right-10">短信平台账号</span><span class="nowrap color-desc">Username</span>
            <input name="sms_zt_username2" required placeholder="请输入短信平台账号" value="{:sysconf('sms_zt_username2')}" class="layui-input">
            <p class="help-block">短信平台账号，可以联系18122377655获取账号与密码</p>
        </label>

        <label class="layui-form-item margin-top-20 block relative">
            <span class="color-green margin-right-10">短信平台密码</span><span class="nowrap color-desc">Password</span>
            <input name="sms_zt_password2" required placeholder="请输入短信平台密码" value="{:sysconf('sms_zt_password2')}" class="layui-input">
            <p class="help-block">短信平台密码，可以联系18122377655获取账号与密码</p>
        </label>

        <label class="layui-form-item margin-top-20 block relative">
            <span class="color-green margin-right-10">短信发送安全码</span><span class="nowrap color-desc">Secure</span>
            <input name="sms_secure2" required placeholder="请输入短信发送安全码" value="{:sysconf('sms_secure2')}" class="layui-input">
            <p class="help-block">短信发送安全码，调用接口发短信时需要传入此参数</p>
        </label>

        <label class="layui-form-item margin-top-20 block relative">
            <span class="color-green margin-right-10">注册短信模板</span><span class="nowrap color-desc">Template</span>
            <textarea class="layui-textarea" required name="sms_reg_template2" placeholder="请输入短信平台密码">{:sysconf('sms_reg_template2')}</textarea>
            <p class="help-block">会员注册短信模板，验证码变量使用 {code} 代替</p>
        </label>

        <div class="layui-form-item text-center margin-top-20">
            <button class="layui-btn" type="submit">保存配置</button>
        </div>

    </div>
</form>
