<form onsubmit="return false;" data-auto="true" method="post" class='layui-form layui-card padding-bottom-20' autocomplete="off">

    <div class="layui-card-body" style="padding-left:40px">
        <div class="layui-elem-quote border-0">
            <p class="font-s14 margin-bottom-10 color-text">
                <strong>第三方平台授权</strong><br>
                JSSDK签名测试需要在开放平台配置当前的授权域名：<a data-copy="{:request()->host()}">{:request()->host()}</a>
            </p>
            <p class="font-s14 margin-bottom-10 color-text">
                <strong>普通接口强制绑定</strong><br>
                网页授权及JSSDK签名都需要在公众号平台配置授权域名：<a data-copy="{:request()->host()}">{:request()->host()}</a>
            </p>
            <p class="font-s14 color-text">
                <strong>支付测试配置</strong><br>
                JSAPI支付测试需要在微信商户平台配置支付目录：<a data-copy="{:url('@wechat/api.tools/','','',true)}">{:url('@wechat/api.tools/','','',true)}</a><br>
                扫码支付①需要在微信商户平台配置支付通知地址：<a data-copy="{:url('@wechat/api.tools/scanOneNotify','','',true)}">{:url('@wechat/api.tools/scanOneNotify','','',true)}</a>
            </p>
        </div>
        <div class="layui-clear">
            <div class="pull-left padding-right-15 notselect">
                <img class="notselect" data-tips-image src="{:url('@wechat/api.tools/oauth_qrc')}" style="width:120px">
                <p class="text-center">网页授权</p>
            </div>
            <div class="pull-left padding-left-0 padding-right-15">
                <img class="notselect" data-tips-image src="{:url('@wechat/api.tools/jssdk_qrc')}" style="width:120px;">
                <p class="text-center">JSSDK签名</p>
            </div>
            <div class="pull-left padding-left-0 padding-right-15">
                <img onerror="this.src='__ROOT__/static/theme/img/wechat/qrc_pay_error.jpg'" class="notselect" data-tips-image src="{:url('@wechat/api.tools/jsapiqrc')}" style="width:120px;">
                <p class="text-center">JSAPI支付</p>
            </div>
            <div class="pull-left padding-left-0 padding-right-15">
                <img onerror="this.src='__ROOT__/static/theme/img/wechat/qrc_pay_error.jpg'" class="notselect" data-tips-image src="{:url('@wechat/api.tools/scanoneqrc')}" style="width:120px;">
                <p class="text-center">扫码支付①</p>
            </div>
            <div class="pull-left padding-left-0">
                <img onerror="this.src='__ROOT__/static/theme/img/wechat/qrc_pay_error.jpg'" class="notselect" data-tips-image src="{:url('@wechat/api.tools/scanqrc')}" style="width:120px;">
                <p class="text-center">扫码支付②</p>
            </div>
        </div>
    </div>
</form>
