{extend name="extra@admin/content"}

{block name="content"}
<div class="row">
    <div class="col-lg-6">
        <form class=" layui-form" data-auto="" method="post">
            <fieldset class="layui-elem-field layui-box">
                <legend>文件存储</legend>
                <div class="layui-field-box" style="padding-right:35px">

                    <div class="layui-form-item layui-box">
                        <label class="layui-form-label">Storage(存储)</label>
                        <div class="layui-input-block">
                            <select name="storage_type">
                                <option {if sysconf('storage_type')!=='qiniu'}selected{/if} value='local'>本地服务器</option>
                                <option {if sysconf('storage_type')==='qiniu'}selected{/if} value='qiniu'>七牛云存储</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item layui-box">
                        <label class="layui-form-label">网站域名</label>
                        <div class="layui-input-block">
                            <input type="text" name="site_domain" required="required" title="请输入网站域名" placeholder="请输入网站域名" value="{:sysconf('site_domain')}" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item layui-box">
                        <label class="layui-form-label">网站版权</label>
                        <div class="layui-input-block">
                            <input type="text" name="site_copy" required="required" title="请输入网站版权" placeholder="请输入网站版权" value="{:sysconf('site_copy')}" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item layui-box">
                        <label class="layui-form-label">网站备案号</label>
                        <div class="layui-input-block">
                            <input type="text" name="site_beian" title="请输入网站备案号" placeholder="请输入网站备案号" value="{:sysconf('site_beian')}" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item layui-box">
                        <label class="layui-form-label">网站关键字</label>
                        <div class="layui-input-block">
                            <input type="text" name="site_keys" title="请输入SEO关键字" placeholder="请输入关键字，多个以英文逗号隔开" value="{:sysconf('site_keys')}" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item layui-box">
                        <label class="layui-form-label">网站描述</label>
                        <div class="layui-input-block">
                            <textarea name="site_desc" placeholder="请输入网站描述" class="layui-textarea">{:sysconf('site_desc')}</textarea>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item layui-box text-center">
                    <button class="layui-btn" type="submit">立即提交</button>
                </div>
            </fieldset>
        </form>
    </div>




</div>

{/block}

{block name="script"}
<script>
    require(['jquery'], function ($) {
        $('[name="storage_type"]').on('change', function () {
            console.log($(this).val());
        })
    });
</script>
{/block}