{extend name="extra@admin/content"}

{block name="content"}
<form onsubmit="return false;" action="__SELF__" data-auto="true" method="post" class='form-horizontal layui-form' style='padding-top:20px'>

    <div class="form-group">
        <label class="col-sm-2 control-label">State <span class="nowrap">(账号状态)</span></label>
        <div class='col-sm-8'>
            <input disabled class="layui-input layui-bg-gray" value="{if $result.code}短信剩余 {$result.num} 条{else}{$result.msg}{/if}">
            <p class="help-block">肋通SMS接口状态，若短信剩余条数不足时，请提前充值。</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Username <span class="nowrap">(平台账号)</span></label>
        <div class='col-sm-8'>
            <input type="text" name="sms_username" required="required" value="{:sysconf('sms_username')}"
                   title="请输入助通SMS接口平台账号" placeholder="请输入助通SMS接口平台账号" class="layui-input">
            <p class="help-block">助通SMS接口平台账号，平台管理 <a target="_blank" href="http://client.ztsms.cn">登录平台</a>。</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Password <span class="nowrap">(平台密码)</span></label>
        <div class='col-sm-8'>
            <input type="password" name="sms_password" required="required" value="{:sysconf('sms_password')}"
                   title="请输入助通SMS接口平台密码" placeholder="请输入助通SMS接口平台密码" class="layui-input">
            <p class="help-block">助通SMS接口平台密码，需要在助通平台修改。</p>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="col-sm-4 col-sm-offset-2">
        <div class="layui-form-item text-center">
            <button class="layui-btn" type="submit">保存配置</button>
        </div>
    </div>

</form>
{/block}
