{extend name="extra@admin/content"}

{block name="content"}
<form onsubmit="return false;" action="__SELF__" data-auto="true" method="post" class='form-horizontal' style='padding-top:20px'>

	<div class="form-group">
        <label class="col-sm-1 control-label">文档分类</label>
        <div class="col-sm-10">
            <select name='category' class='layui-input'>
				<!--{foreach $categories as $category => $catid}-->
				<!--{if $category===$Think.get.category}-->
				<option selected="selected" value='{$catid}'>{$category}</option>
				<!--{else}-->
				<option value='{$catid}'>{$category}</option>
				<!--{/if}-->
				<!--{/foreach}-->
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-1 control-label">别名</label>
        <div class="col-sm-10">
            <input type="text" name="name" class="layui-input" value=""/>
            <p class="help-block">
                <b>注意</b>：该字段可替换URL中的ID部分，不可重复（空格将替换为-）。
            </p>
        </div>
    </div>

 	<div class="form-group">
        <label class="col-sm-1 control-label">标题</label>
        <div class='col-sm-10'>
            <input type="text" name="title" placeholder="在此输入标题" required="required" value="" class="layui-input">
        </div>
    </div>

	<div class="form-group" data-keys-type='music'>
        <label class="col-sm-1 control-label">缩略图</label>
        <div class="col-sm-10">
            <input onchange="$(this).nextAll('img').attr('src', this.value);" type="text" class="layui-input"
                   value="{$vo.music_image|default=''}"
                   name="music_image" required="required"/>
            <p class="help-block">文件最大64KB，只支持JPG格式</p>
            <img style="width:112px;height:auto;" data-tips-image src='{$vo.music_image|default="__PUBLIC__/static/theme/default/img/image.png"}'/>
            <a data-file="one" data-type="jpg" data-field="music_image" class='btn btn-link'>上传图片</a>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="form-group">
        <label class="col-sm-1 control-label">摘要</label>
        <div class='col-sm-10'>
            <textarea class="layui-input" name="description" style="height:60px;resize:none;line-height:20px"></textarea>
            <p class="help-block">摘要是可选的手工创建的内容总结，并可在您的主题中使用。</p>
        </div>
    </div>

	<div class="form-group">
		<label class="col-sm-1 control-label">主体</label>
        <div class="col-sm-10">
			<textarea name="content"></textarea>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="col-sm-1 col-sm-offset-1">
        <div class="layui-form-item text-center">
            <button class="layui-btn" type="submit">保存配置</button>
        </div>
    </div>

</form>

{/block}

{block name='script'}
<script type="text/javascript">
	$(function () {
        require(['ueditor'], function () {
        	 var editor, $item;
            editor = window.createEditor('[name="content"]', 'basic');
		});
	});
</script>
{/block}