{extend name="extra@admin/header" /}

{block name="bodyTag"}
<body class="gray-bg full-height full-width login-container">
<style>
    html {
        height: 100%
    }
</style>
<div class="text-center layer-box">
    <div class="animated fadeInDown layer-content">
        <div class='logo'><img
                src="http://static.cdn.cuci.cc/2016/0414/af3c5d9fcf94b34113274f8c047755fc.png?imageMogr2/thumbnail/!160x56r/gravity/Center/crop/160x56/interlace/1"
                onerror='this.src="http://basic.demo.cuci.cc/static/theme/img/cuci.png"' alt=""/></div>
        <form onsubmit="return false;" data-callback='logincallback' data-time="0.01" data-auto role="form" method="POST">
            <div class="form-group has-feedback">
                <span class="fa fa-user input-icon"></span>
                <input autofocus="true" autocomplete="off" class="form-control" name="username" placeholder="Username"
                       title="请输入用户帐号" required type="text"/>
            </div>
            <div class="form-group has-feedback">
                <span class="fa fa-key input-icon"></span>
                <input autocomplete="off" class="form-control" name="password" placeholder="Password" title="请输入登录密码"
                       required type="password"/>
            </div>
            <div class="form-group has-feedback verify-label clearfix hide">
                <span class="fa fa-gg input-icon"></span>
                <span class='input'>
                            <input maxlength='4' autocomplete="off" class="form-control" name="verify"
                                   placeholder="Verify" title="请输入验证码" required type="text"/>
                        </span>
                <img data-tips-text='刷新验证码' class='pointer' onclick="this.src = this.src + '?'"
                     src="http://basic.demo.cuci.cc/admin-login-verify.html"/>
            </div>
            <button type="submit" class="btn btn-primary btn-lg full-width login-btn">登录</button>
        </form>
    </div>
    <p class='copyright'>
        <small>广州楚才信息科技有限公司 &copy; {:date('Y')}</small>
    </p>
</div>
<div class="hide">
    <script>
        window.login_error_num = parseInt('0');
        window.logincallback = function (ret) {
            if (ret.code !== 'SUCCESS') {
                window.login_error_num += 1;
                if (window.login_error_num >= 3) {
                    $('.verify-label').removeClass('hide');
                }
            }
        };
    </script>
</div>
</body>
{/block}