{extend name="extra@admin/main"}

{block name="style"}
<link rel="stylesheet" href="__PUBLIC__/static/theme/default/css/login.css">
{/block}

{block name="body"}
<div class="login-container" style="height:100%">

    <!-- 动态云层动画 开始 -->
    <div class="clouds clouds-footer"></div>
    <div class="clouds"></div>
    <div class="clouds clouds-fast"></div>
    <!-- 动态云层动画 结束 -->

    <!-- 顶部导航条 开始 -->
    <div class="header">
        <span>欢迎登录后台管理界面平台</span>
        <ul>
            <li><a href="{:url('@')}">回首页</a></li>
            <li>
                <a href="javascript:void(0)" target="_blank"><b style="color:#fff">帮助</b></a>
            </li>
            <li>
                <a href="http://sw.bos.baidu.com/sw-search-sp/software/4bcf5e4f1835b/ChromeStandalone_54.0.2840.99_Setup.exe" target="_blank">
                    <b style="color:#fff">推荐谷歌浏览器</b>
                </a>
            </li>
            <li><a target="_blank" href="http://www.cuci.cc">楚才官网</a></li>
        </ul>
    </div>
    <!-- 顶部导航条 结束 -->

    <!-- 页面表单主体 开始 -->
    <div class="container" style="top:50%;margin-top:-300px">

        <form onsubmit="return false;" data-time="0.001" data-auto="true" method="post" class="content layui-form">
            <div class="people">
                <div class="tou"></div>
                <div id="left-hander" class="initial_left_hand transition"></div>
                <div id="right-hander" class="initial_right_hand transition"></div>
            </div>
            <ul>
                <li>
                    <input name='username' style='display:none'/>
                    <input required="required"
                           pattern="^\S{4,}$"
                           title="请输入4位及以上的字符"
                           type="text"
                           name="username"
                           value="admin"
                           autocomplete="off"
                           autofocus="autofocus"
                           class="login-input username"
                           placeholder="请输入用户名/手机号码"/>
                </li>
                <li>
                    <input name='password' style='display:none'/>
                    <input required="required"
                           pattern="^\S{4,}$"
                           title="请输入4位及以上的字符"
                           type="password"
                           name="password"
                           value="admin"
                           autocomplete="off"
                           class="login-input password"
                           placeholder="请输入密码"/>
                </li>
                <li class="text-center">
                    <button type="submit" class="layui-btn layui-disabled" data-form-loaded="立 即 登 入">正 在 载 入</button>
                    <a style="position:absolute;display:block;right:0" href="javascript:void(0)">忘记密码？</a>
                </li>
            </ul>
        </form>
    </div>
    <!-- 页面表单主体 结束 -->

    <!-- 底部版权信息 开始 -->
    {if sysconf('site_copy')}
    <div class="footer">{:sysconf('site_copy')}</div>
    {/if}
    <!-- 底部版本信息 结束 -->

</div>
{/block}

{block name="script"}
<script>
    if (window.location.href.indexOf('#') > -1) {
        window.location.href = window.location.href.split('#')[0];
    }
    require(['jquery'], function ($) {
        $('[name="password"]').on('focus', function () {
            $('#left-hander').removeClass('initial_left_hand').addClass('left_hand');
            $('#right-hander').removeClass('initial_right_hand').addClass('right_hand')
        }).on('blur', function () {
            $('#left-hander').addClass('initial_left_hand').removeClass('left_hand');
            $('#right-hander').addClass('initial_right_hand').removeClass('right_hand')
        });
    });
</script>
{/block}