{extend name='extra@admin/content'}

{block name="button"}
<div class="nowrap pull-right" style="margin-top:10px">
    <button data-open='{:url("$classuri/add")}' data-title="添加作品" class='layui-btn layui-btn-small'><i class='fa fa-plus'></i> 添加作品</button>
</div>
{/block}

{block name="content"}

<!-- 表单搜索 开始 -->
<form class="animated form-search" action="__SELF__" onsubmit="return false" method="get">

    <div class="row">

        <div class="col-xs-3">
            <div class="form-group">
                <input type="text" name="author" value="{$Think.get.name|default=''}" placeholder="作者" class="input-sm form-control">
            </div>
        </div>

        <div class="col-xs-1">
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-white"><i class="fa fa-search"></i> 搜索</button>
            </div>
        </div>

    </div>

</form>
<!-- 表单搜索 结束 -->

<form onsubmit="return false;" data-auto="true" method="post">
    <input type="hidden" value="resort" name="action"/>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class='list-table-check-td'>
                    <input data-none-auto="" data-check-target='.list-check-box' type='checkbox'/>
                </th>
                <th class='list-table-sort-td'>
                    <button type="submit" class="layui-btn layui-btn-normal layui-btn-mini">排 序</button>
                </th>
                <th class='text-center'>编号</th>
                <th class='text-center'>名称</th>
                <th class='text-center'>封面</th>
                <th class='text-center'>创作者</th>
                <th class='text-center'>创作历程</th>
                <th class='text-center'>组图</th>
                <th class='text-center'>视频</th>
                <th class='text-center'>操作</th>
            </tr>
        </thead>
        <tbody>
            {foreach $list as $key=>$vo}
            <tr>
                <td class='list-table-check-td'>
                    <input class="list-check-box" value='{$vo.id}' type='checkbox'/>
                </td>
                <td class='list-table-sort-td'>
                    <input name="_{$vo.id}" value="{$vo.sort}" class="list-sort-input"/>
                </td>
                <td class='text-center'>{$vo.id}</td>
                <td class='text-center'><a href="{$vo.link}" target="_blank">{$vo.title}</a></td>
                <td class='text-center'><img style="width:45px;height:30px" data-tips-image src="http://imgs.taoranxiaoju.com{$vo.cover}/s43"/></td>
                <td class='text-center'>{:getUserById($vo['author'], 'nickname')}</td>
                <td class='text-center'>
                	{notempty name="vo.digest"}
                    <span>已添加</span>
                    {else /}
                    <span style="color:#090">未添加</span>
                    {/notempty}
                </td>
                <td class='text-center'>
                    {notempty name="vo.photos"}
                    <span>已添加</span>
                    {else /}
                    <span style="color:#090">未添加</span>
                    {/notempty}
                </td>
                <td class='text-center'>
                    {notempty name="vo.vfile"}
                    <span>已添加</span>
                    {else /}
                    <span style="color:#090">未添加</span>
                    {/notempty}
                </td>
                <td class='text-center nowrap'>

                    {if auth("$classuri/edit")}
                    <span class="text-explode">|</span>
                    <a data-open='{:url("$classuri/edit")}?id={$vo.id}' href="javascript:void(0)">编辑</a>
                    {/if}

                    {if $vo.is_deleted eq 0 and auth("$classuri/forbid")}
                    <span class="text-explode">|</span>
                    <a data-update="{$vo.id}" data-field='status' data-value='1'data-action='{:url("$classuri/forbid")}' href="javascript:void(0)">启用</a>
                    {elseif auth("$classuri/resume")}
                    <span class="text-explode">|</span>
                    <a data-update="{$vo.id}" data-field='status' data-value='0' data-action='{:url("$classuri/resume")}' href="javascript:void(0)">禁用</a>
                    {/if}

                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
    {if isset($page)}<p>{$page}</p>{/if}
</form>
{/block}