<form action="{:sysuri()}" method="post" data-auto="true" class="layui-form layui-card" data-table-id="RoleTable">

    <div class="layui-card-body padding-left-40">

        <label class="layui-form-item relative block">
            <span class="help-label"><b>权限名称</b>Permission Name</span>
            <input maxlength="100" class="layui-input" name="title" value='{$vo.title|default=""}' required vali-name="权限名称" placeholder="请输入权限名称">
            <span class="help-block">访问权限名称需要保持不重复，在给用户授权时需要根据名称选择！</span>
        </label>

        <label class="layui-form-item relative block">
            <span class="help-label"><b>权限描述</b>Permission Description</span>
            <textarea placeholder="请输入权限描述" maxlength="200" class="layui-textarea" name="desc">{$vo.desc|default=""}</textarea>
        </label>

    </div>

    <div class="hr-line-dashed"></div>
    {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
</form>