<form action="{:sysuri()}" method="post" data-auto="true" class="layui-form layui-card">

    <div class="layui-card-body padding-left-40">

        <fieldset class="layui-form-item">
            <legend>
                <span class="layui-badge layui-bg-cyan">支付单证凭证</span>
                <span class="layui-badge think-bg-blue">{$vo.order_no}</span>
                <span class="layui-badge think-bg-violet">订单需要支付 {$vo.amount_real+0} 元</span>
            </legend>
            <div class="layui-form-item relative block">
                <img alt="img" data-tips-image src="{$vo.payment_image|default=''}" style="width:auto;height:220px">
            </div>
        </fieldset>

        <div class="layui-form-item">
            <span class="color-green font-w7 label-required-prev">审核操作类型</span>
            <span class="color-desc margin-left-5">Audit type</span>
            <div class="layui-textarea" style="min-height:auto;padding:10px 0 13px 18px">
                {php} $status = 0; {/php}
                {foreach [1 => '审核通过并完成订单支付', 0 => '驳回审核并取消订单'] as $k => $v}
                {if $k eq $status}
                <input checked name="status" title="{$v}" type="radio" value='{$k}'>
                {else}
                <input name="status" title="{$v}" type="radio" value='{$k}'>
                {/if}{/foreach}
            </div>
        </div>

        <label class="layui-form-item relative block">
            <span class="color-green font-w7">订单审核描述</span>
            <span class="color-desc margin-left-5"></span>
            <textarea class="layui-textarea" name="remark" placeholder="请输入订单审核描述">{$vo.remark|default=''}</textarea>
        </label>


        <div class="hr-line-dashed"></div>
        {notempty name='vo.id'}<input name='id' type='hidden' value='{$vo.id}'>{/notempty}
        {notempty name='vo.order_no'}<input name='order_no' type='hidden' value='{$vo.order_no}'>{/notempty}

        <div class="layui-form-item text-center">
            <button class="layui-btn" type='submit'>审核</button>
            <button class="layui-btn layui-btn-danger" data-close data-confirm="确定要取消吗？" type='button'>取消</button>
        </div>
    </div>
</form>