<form onsubmit="return false;" action="{:request()->url()}" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">

    <div class="layui-card-body padding-left-40">

        <div class="layui-form-item">
            <label class="relative block">
                <span class="color-green font-w7">开放平台服务 AppID</span>
                <input name="component_appid" required pattern="^.{18}$" maxlength="18" placeholder="请输入18位开放平台服务AppID" value="{:sysconf('component_appid')}" class="layui-input">
            </label>
            <p class="help-block">开放平台服务 AppID，需要在微信开放平台获取</p>
        </div>

        <div class="layui-form-item">
            <label class="relative block">
                <span class="color-green font-w7">开放平台服务 AppSecret</span>
                <input name="component_appsecret" required pattern="^.{32}$" maxlength="32" placeholder="请输入32位开放平台服务AppSecret" value="{:sysconf('component_appsecret')}" class="layui-input">
            </label>
            <p class="help-block">开放平台服务 AppSecret，需要在微信开放平台获取</p>
        </div>

        <div class="layui-form-item">
            <label class="relative block">
                <span class="color-green font-w7">开放平台消息校验 Token</span>
                <input name="component_token" required placeholder="请输入微信消息校验Token" value="{:sysconf('component_token')}" class="layui-input">
            </label>
            <p class="help-block">开发者在代替微信接收到消息时，用此 Token 来校验消息</p>
        </div>

        <div class="layui-form-item">
            <label class="relative block">
                <span class="color-green font-w7">开放平台消息加解密 AesKey</span>
                <input name="component_encodingaeskey" required pattern="^.{43}$" maxlength="43" placeholder="请输入43位微信消息加解密Key" value="{:sysconf('component_encodingaeskey')}" class="layui-input">
            </label>
            <p class="help-block">在代替微信收发消息时使用，必须是长度为43位字母和数字组合的字符串</p>
        </div>

        <div class="hr-line-dashed"></div>

        <div class="text-center padding-bottom-15 margin-bottom-20">
            <button class="layui-btn" type="submit">保存配置</button>
        </div>

    </div>
</form>
