<form onsubmit="return false;" data-auto="true" method="post" class='layui-form layui-card padding-0' autocomplete="off">
    <div class="layui-card-body padding-0">
        <div class="color-blue padding-left-40 padding-bottom-20">
            文件将存储在本地服务器，需确保服务器的 public/upload 目录有写入权限，还需要有足够的存储空间。
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                AllowExts<br><span class="nowrap color-desc">允许上传文件</span>
            </label>
            <div class="layui-input-block">
                <input type="text" name="storage_local_exts" required value="{:sysconf('storage_local_exts')}" placeholder="请输入系统文件上传后缀" class="layui-input">
                <p class="help-block">设置系统允许上传文件的后缀，多个以英文逗号隔开。如：png,jpg,rar,doc</p>
            </div>
        </div>
        <div class="hr-line-dashed margin-left-40"></div>
        <div class="layui-form-item text-center">
            <div class="layui-row">
                <div class="layui-col-sm8 layui-col-md6">
                    <input type="hidden" name="storage_type" value="local">
                    <button class="layui-btn" type="submit">保存配置</button>
                </div>
            </div>
        </div>
    </div>
</form>