{extend name="main"}

{block name="button"}

{if auth('config')}
<a class="layui-btn layui-btn-sm layui-btn-primary" data-modal="{:url('config')}">修改系统配置</a>
{/if}

{/block}

{block name="content"}

<div class="think-box-shadow margin-bottom-15">
    <span class="color-green font-w7 text-middle">文件存储引擎：</span>
    {foreach ['local'=>'本地服务器存储','qiniu'=>'七牛云对象存储','oss'=>'阿里云OSS存储'] as $k=>$v}
    {if sysconf('storage_type') eq $k}
    {if auth('file')}<a data-modal="{:url('file')}?type={$k}" class="layui-btn layui-btn-sm">{$v}</a>{else}<a class="layui-btn layui-btn-sm">{$v}</a>{/if}
    {elseif auth('file')}<a data-modal="{:url('file')}?type={$k}" class="layui-btn layui-btn-sm layui-btn-primary">{$v}</a>{/if}
    {/foreach}
</div>

<div class="think-box-shadow padding-40">
    <div class="layui-form-item">
        <span class="color-green font-w7">网站名称 Website</span>
        <label class="relative block">
            <input readonly value="{:sysconf('site_name')}" class="layui-input layui-bg-gray">
            <a data-copy="{:sysconf('site_name')}" class="fa fa-copy right-btn"></a>
        </label>
        <p class="help-block">网站名称及网站图标，将显示在浏览器的标签上</p>
    </div>
    <div class="layui-form-item">
        <span class="color-green font-w7">管理程序名称 Name</span>
        <label class="relative block">
            <input readonly placeholder="请输入程序名称" value="{:sysconf('app_name')}" class="layui-input layui-bg-gray">
            <a data-copy="{:sysconf('app_name')}" class="fa fa-copy right-btn"></a>
        </label>
        <p class="help-block">管理程序名称，将显示在后台左上角标题</p>
    </div>
    <div class="layui-form-item">
        <span class="color-green font-w7">管理程序版本 Version</span>
        <label class="relative block">
            <input readonly value="{:sysconf('app_version')}" class="layui-input layui-bg-gray">
            <a data-copy="{:sysconf('app_version')}" class="fa fa-copy right-btn"></a>
        </label>
        <p class="help-block">管理程序版本，将显示在后台左上角标题</p>
    </div>

    <div class="layui-form-item">
        <span class="color-green font-w7">网站备案号 Miitbeian</span>
        <label class="relative block">
            <input readonly value="{:sysconf('miitbeian')}" class="layui-input layui-bg-gray">
            <a data-copy="{:sysconf('miitbeian')}" class="fa fa-copy right-btn"></a>
        </label>
        <p class="help-block">网站备案号，可以在<a target="_blank" href="http://beian.miit.gov.cn">备案管理中心</a>查询获取，将显示在登录页面下面</p>
    </div>
    <div class="layui-form-item">
        <span class="color-green font-w7">网站版权信息 Copyright</span>
        <label class="relative block">
            <input readonly value="{:sysconf('site_copy')}" class="layui-input layui-bg-gray">
            <a data-copy="{:sysconf('site_copy')}" class="fa fa-copy right-btn"></a>
        </label>
        <p class="help-block">网站版权信息，在后台登录页面显示版本信息并链接到备案到信息备案管理系统</p>
    </div>
</div>
{/block}

{block name='style'}
<style>
    .right-btn {
        top: 0;
        right: 0;
        width: 38px;
        height: 38px;
        display: inline-block;
        position: absolute;
        text-align: center;
        line-height: 38px;
    }
</style>
{/block}