<div class="layui-form-item">
    <span class="color-green font-w7 label-required-prev">线下支付二维码</span>
    <span class="color-desc margin-left-5">Payment Qrcode Image</span>
    <label class="relative block label-required-null">
        <input class="layui-input" name="voucher_qrcode" placeholder="请上传线下支付二维码图片 &nbsp;&nbsp;&nbsp;&nbsp;" required value='{$vo.content.voucher_qrcode|default=""}'>
        <a class="layui-icon layui-icon-upload input-right-icon" data-field="voucher_qrcode" data-file data-type="png,jpg,gif"></a>
        <script>$('[name="voucher_qrcode"]').uploadOneImage()</script>
    </label>
</div>