<label class="layui-form-item block relative">
    <span class="help-label"><b>绑定公众号</b>Bind WeChat Appid</span>
    <input class="layui-input" maxlength="18" name="wechat_appid" pattern="^wx[0-9a-z]{16}$" placeholder="请输入18位绑定公众号（必填）" required value="{$vo.content.wechat_appid|default=''}">
    <span class="help-block">公众号APPID，微信商户绑定的服务号APPID或小程序APPID</span>
</label>

<label class="layui-form-item block relative">
    <span class="help-label"><b>微信商户号</b>WeChat Payment Number</span>
    <input class="layui-input" name="wechat_mch_id" placeholder="请输入微信商户号（必填）" required value="{$vo.content.wechat_mch_id|default=''}">
    <span class="help-block">微信商户编号，需要在微信商户平台获取，微信商户号 与 公众号APPID 匹配</span>
</label>

<div class="layui-form-item block relative">
    <span class="help-label label-required-prev"><b>支付接口版本</b>WeChat Payment Version</span>
    <div class="help-checks layui-textarea">
        {empty name='vo.content.wechat_type'}{assign name='vo.content.wechat_type' value='v2'}{/empty}
        {foreach ['v2'=>'V2 旧版接口','v3'=>'V3 新版接口'] as $k=>$v}
        <label class="think-radio">
            {if isset($vo.content.wechat_type) and $vo.content.wechat_type eq $k}
            <input checked type="radio" name="wechat_type" lay-ignore value="{$k}"> {$v}
            {else}
            <input type="radio" name="wechat_type" lay-ignore value="{$k}"> {$v}
            {/if}
        </label>
        {/foreach}
    </div>
    <span class="help-block">微信支付版本，根据微信商户申请的不同支付通道版本配置</span>
</div>

<label class="layui-form-item block relative" data-wechat-version="v2">
    <span class="help-label"><b>微信商户密钥</b>WeChat Payment Secret Key</span>
    <input class="layui-input" maxlength="32" name="wechat_mch_key" pattern=".{32}" placeholder="请输入32位微信商户密钥（必填）" required value="{$vo.content.wechat_mch_key|default=''}">
    <span class="help-block">微信商户密钥，需要在微信商户平台操作设置密码并获取密钥，建议定期更换密钥</span>
</label>

<label class="layui-form-item layui-hide relative">
    <span class="help-label"><b>微信商户密钥文件内容</b>（ 需要填写文件的全部内容 ）</span>
    <textarea class="layui-textarea" name="wechat_mch_key_text" placeholder="请输入微信KEY密钥内容">{$vo.content.wechat_mch_key_text|default=''}</textarea>
    <span class="help-block">从商户平台上下载支付证书，解压并取得其中的 apiclient_key.pem 用记事本打开并复制文件内容填至此处</span>
</label>

<label class="layui-form-item layui-hide relative">
    <span class="help-label"><b>微信商户证书文件内容</b>（ 需要填写文件的全部内容 ）</span>
    <textarea class="layui-textarea" name="wechat_mch_cert_text" placeholder="请输入微信CERT证书内容">{$vo.content.wechat_mch_cert_text|default=''}</textarea>
    <span class="help-block">从商户平台上下载支付证书，解压并取得其中的 apiclient_cert.pem 用记事本打开并复制文件内容填至此处</span>
</label>

<label class="layui-form-item block relative" data-wechat-version="v3">
    <span class="help-label"><b>微信商户密钥</b>WeChat Payment Secret Key</span>
    <input class="layui-input" maxlength="32" name="wechat_mch_v3_key" pattern=".{32}" placeholder="请输入32位微信商户密钥（必填）" required value="{$vo.content.wechat_mch_v3_key|default=''}">
    <span class="help-block">微信商户密钥，需要在微信商户平台操作设置密码并获取密钥，建议定期更换密钥</span>
</label>

<label class="layui-form-item layui-hide relative" data-wechat-version="v3">
    <span class="help-label"><b>微信商户证书公钥内容</b>（ 需要填写文件的全部内容 ）</span>
    <textarea class="layui-textarea" name="wechat_mch_v3_public" placeholder="请输入微信KEY密钥内容">{$vo.content.wechat_mch_v3_public|default=''}</textarea>
    <span class="help-block">从商户平台上下载支付证书，解压并取得其中的 apiclient_key.pem 用记事本打开并复制文件内容填至此处</span>
</label>

<label class="layui-form-item layui-hide relative" data-wechat-version="v3">
    <span class="help-label"><b>微信商户证书私钥内容</b>（ 需要填写文件的全部内容 ）</span>
    <textarea class="layui-textarea" name="wechat_mch_v3_private" placeholder="请输入微信CERT证书内容">{$vo.content.wechat_mch_v3_private|default=''}</textarea>
    <span class="help-block">从商户平台上下载支付证书，解压并取得其中的 apiclient_cert.pem 用记事本打开并复制文件内容填至此处</span>
</label>

<script>
    $(function () {
        $('body').off('click', 'input[type=radio][name=wechat_type]').on('click', 'input[type=radio][name=wechat_type]', function () {
            var version = $('input[name=wechat_type]:checked').val();
            var showall = $('[data-wechat-version=' + version + ']').removeClass('layui-hide').addClass('block');
            $('[data-wechat-version]').not(showall).removeClass('block').addClass('layui-hide');
        });
    });
</script>