<label class="layui-form-item block relative">
    <span class="help-label"><b>支付宝商户编号</b>Alipay Payment Number</span>
    <input class="layui-input" name="alipay_appid" placeholder="请输入支付宝商户编号（必填）" required value="{$vo.content.alipay_appid|default=''}">
    <span class="help-block">支付宝商户编号，开通企业支付宝的唯一商户编号</span>
</label>

<label class="layui-form-item block relative">
    <span class="help-label"><b>支付宝私钥文件内容</b>（ 需要填写文件的全部内容 ）</span>
    <textarea class="layui-textarea" name="alipay_private_key" placeholder="请输入支付宝私钥文件内容（必填）" required>{$vo.content.alipay_private_key|default=''}</textarea>
    <span class="help-block">从商户平台上下载支付证书，解压并取得其中的支付宝私钥文件用记事本打开并复制文件内容填至此处</span>
</label>

<label class="layui-form-item block relative">
    <span class="help-label"><b>应用公钥证书文件内容</b>（ 需要填写文件的全部内容 ）</span>
    <textarea class="layui-textarea" name="alipay_public_key" placeholder="请输入应用公钥证书文件内容（必填）" required>{$vo.content.alipay_public_key|default=''}</textarea>
    <span class="help-block">从商户平台上下载支付证书，解压并取得其中的应用公钥证书文件用记事本打开并复制文件内容填至此处</span>
</label>