<div class="layui-form-item label-required-prev">
    <span class="help-label"><b>线下支付二维码</b>Payment Qrcode Image</span>
    <label class="relative block label-required-null">
        <input class="layui-input" name="voucher_qrcode" pattern="^https?://" placeholder="请上传线下支付二维码图片 &nbsp;&nbsp;&nbsp;&nbsp;" required value='{$vo.content.voucher_qrcode|default=""}'>
        <a class="layui-icon layui-icon-upload input-right-icon" data-field="voucher_qrcode" data-file data-type="png,jpg,gif"></a>
        <script>$('[name="voucher_qrcode"]').uploadOneImage()</script>
    </label>
</div>