<form action="{:sysuri()}" autocomplete="off" class="layui-form layui-form-pane form-search" method="get" onsubmit="return false">

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">支付编号</label>
        <label class="layui-input-inline">
            <input class="layui-input" name="code" placeholder="请输入支付编号" value="{$get.code|default=''}">
        </label>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">支付名称</label>
        <label class="layui-input-inline">
            <input class="layui-input" name="name" placeholder="请输入支付名称" value="{$get.name|default=''}">
        </label>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">支付方式</label>
        <div class="layui-input-inline">
            <select class="layui-select" name="ptype">
                <option value="">-- 全部 --</option>
                {foreach $types as $k=>$v}{if !empty($v['bind'])}
                {if isset($get.ptype) and $k eq $get.ptype}
                <option selected value="{$k}">{$v.name}</option>
                {else}
                <option value="{$k}">{$v.name}</option>
                {/if}{/if}{/foreach}
            </select>
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">创建时间</label>
        <label class="layui-input-inline">
            <input class="layui-input" data-date-range name="create_at" placeholder="请选择创建时间" value="{$get.create_at|default=''}">
        </label>
    </div>

    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>
</form>