{extend name="../../admin/view/main"}

{block name="content"}
<div class="think-box-shadow">
    <form onsubmit="return false;" data-auto="true" action="{$request->url()}" method="post" class='layui-form layui-card' autocomplete="off">
        <div class="layui-card-body padding-30">
            <textarea class="layui-hide" name="content">{$data.content|default=''}</textarea>
        </div>
        <div class="hr-line-dashed margin-bottom-20"></div>
        <div class="layui-form-item text-center">
            <button class="layui-btn" type="submit">保存内容</button>
        </div>
    </form>
    <script>
        require(['ckeditor'], function () {
            createEditor('[name="content"]', {height: 500});
        });
    </script>
</div>
{/block}