{extend name="../../admin/view/main"}

{block name="content"}
<div class="think-box-shadow" id="ContentBox">
    <div class="padding-left-20 padding-right-20 padding-top-10">
        <div class="text-left">
            <p>1. 上传邀请码的背景图片（ 支持 PNG 和 JPG 格式 ）</p>
            <p>2. 选择需要绘制二维码的区域，生成相对图片坐标参数</p>
            <p>3. 保存位置数据，下次可直接显示</p>
        </div>
        <div class="margin-top-20 inline-block" style="max-width:800px">
            <img alt="img" id="target" style="width:800px;height:400px" src="{$data.image|default='https://d3o1694hluedf9.cloudfront.net/market-750.jpg'}">
            <div class="margin-top-5">
                <label class="margin-top-5 block"><input id="inputImage" readonly value='' class="layui-input layui-bg-gray"></label>
                <label class="margin-top-5 block"><input id="inputData" readonly value='' class="layui-input layui-bg-gray"></label>
            </div>
        </div>
        <div class="margin-top-20">
            <a class="layui-btn layui-btn-primary margin-right-5" data-type="png,jpg" data-upload-image>上传图片</a>
            <span></span>
            <a class="layui-btn layui-btn-primary margin-left-5" data-upload-commit>保存设置</a>
        </div>
    </div>
    <label class="layui-hide">
        <textarea class="layui-textarea" id="DefaPostion">{$data.postion|default=''}</textarea>
    </label>
</div>

<script>
    // 默认绘制位置数据
    var defaData = JSON.parse($('#DefaPostion').val() || '{}');

    // 加载插件并显示界面
    require(['cropper'], function (Cropper) {
        (function (image, cropper) {
            cropper = new Cropper(image, {
                aspectRatio: 1,
                ready() {
                    if (typeof defaData === 'object') {
                        cropper.setData(defaData);
                    }
                },
                crop() {
                    $('#inputImage').val(image.src);
                    $('#inputData').val(JSON.stringify(cropper.getData()));
                },
            });
            // 背景图片切换
            $('[data-upload-image]').uploadFile(function (url) {
                image.src = url;
                cropper.replace(url, true).reset();
            });
            $('[data-upload-commit]').on('click', function () {
                $.form.load('{:url("")}', {image: image.src, postion: JSON.stringify(cropper.getData())}, 'post');
            });
        })(document.getElementById('target'));
    });

    $(window).on('resize', function () {
        (function (height) {
            $('#ContentBox').css('minHeight', height + 'px')
        })($('.layui-layout-admin>.layui-body').height() - 120);
    }).trigger('resize');

</script>
{/block}