{extend name="../../admin/view/main"}

{block name="content"}
<div class="layui-badge nowrap think-bg-red padding-5 padding-left-10 font-s15 layui-anim layui-anim-upbit">
    注意：短信接口配置的参数不能随意修改，会影响到用户注册发送短信通知功能，若有需要调整请联系客服！
</div>
<div class="think-box-shadow">
    <form style="width:800px" onsubmit="return false;" data-auto="true" action="{$request->url()}" method="post" class='layui-form layui-card shadow-none' autocomplete="off">

        <div class="layui-card-body padding-left-40">

            <label class="layui-form-item block relative">
                <span class="color-green font-w7 margin-right-10">接口查询状态</span><span class="nowrap color-desc">Status</span>
                {if empty($result.0)}
                <span class="layui-input layui-bg-gray color-red">{$result.1|default=''}</span>
                {elseif $result.0 eq 1}
                <span class="layui-input layui-bg-gray color-green">平台剩余 {$result.2|default=0} 条可用短信</span>
                {else}
                <span class="layui-input layui-bg-gray color-text">没有结果</span>
                {/if}
                <span class="help-block layui-hide">可用短信条数不足时可以联系 18122377655 充值</span>
            </label>

            <label class="layui-form-item block relative">
                <span class="color-green font-w7 margin-right-10">短信授权账号</span><span class="nowrap color-desc">Username</span>
                <input name="zt.username" required placeholder="请输入短信授权账号" value="{:sysconf('zt.username')}" class="layui-input">
                <span class="help-block">短信授权账号，可以联系 18122377655 获取账号与密码</span>
            </label>

            <label class="layui-form-item block relative">
                <span class="color-green font-w7 margin-right-10">短信授权密码</span><span class="nowrap color-desc">Password</span>
                <input name="zt.password" required placeholder="请输入短信授权密码" value="{:sysconf('zt.password')}" class="layui-input">
                <span class="help-block">短信授权密码，可以联系 18122377655 获取账号与密码</span>
            </label>

            <label class="layui-form-item block relative">
                <span class="color-green font-w7 margin-right-10">短信发送安全码</span><span class="nowrap color-desc">SecureCode</span>
                <input name="zt.secure_code" required placeholder="请输入短信发送安全码" value="{:sysconf('zt.secure_code')}" class="layui-input">
                <span class="help-block">短信发送安全码，调用接口发短信时需要传入此参数</span>
            </label>

            <label class="layui-form-item block relative">
                <span class="color-green font-w7 margin-right-10">用户注册通知模板</span><span class="nowrap color-desc">RegisterTemplate</span>
                <textarea class="layui-textarea" name="zt.tplcode_register">{:sysconf('zt.tplcode_register')}</textarea>
                <span class="help-block">用户注册短信模板，验证码变量使用 {code} 代替</span>
            </label>

            <div class="hr-line-dashed"></div>

            <div class="layui-form-item text-center margin-top-20">
                <button class="layui-btn" type="submit">保存配置</button>
            </div>

        </div>
    </form>

</div>
{/block}