{extend name="../../admin/view/main"}

{block name='content'}
<div class="layui-row layui-col-space20 portal-block-container notselect">
    {foreach $types as $type}
    <div class="layui-col-sm6 layui-col-md6 layui-col-lg4 ">
        <!--{if auth('pageEdit')}-->
        <div class="portal-block-item nowrap pointer think-bg-violet" data-open="{:url('pageEdit')}?type={$type}">
            <div class="">编辑页面内容</div>
            <div style="font-size:26px">{$type|default=''}</div>
        </div>
        <!--{else}-->
        <div class="portal-block-item nowrap pointer think-bg-violet">
            <div class="">编辑页面内容</div>
            <div style="font-size:26px">{$type|default=''}</div>
        </div>
        <!--{/if}-->
        <i class="portal-block-icon layui-icon layui-icon-read"></i>
    </div>
    {/foreach}
</div>
{/block}