<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label">用户账号</label>
            <div class="layui-input-block">
                <!--{if isset($vo) and isset($vo.username)}-->
                <input type="text" disabled value='{$vo.username|default=""}' class="layui-input layui-bg-gray">
                <!--{else}-->
                <input type="text" name="username" value='{$vo.username|default=""}' required placeholder="请输入用户名称" class="layui-input">
                <!--{/if}-->
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">访问授权</label>
            <div class="layui-input-block">
                {foreach $authorizes as $authorize}
                <label class="think-checkbox">
                    <!--{if in_array($authorize['id'],$vo['authorize'])}-->
                    <input type="checkbox" checked name="authorize[]" value="{$authorize.id}" lay-ignore> {$authorize.title}
                    <!--{else}-->
                    <input type="checkbox" name="authorize[]" value="{$authorize.id}" lay-ignore> {$authorize.title}
                    <!--{/if}-->
                </label>
                {/foreach}
                {if empty($authorizes)}<span class="color-desc" style="line-height:36px">未配置权限</span>{/if}
            </div>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        <!--{notempty name='vo.id'}-->
        <input type='hidden' value='{$vo.id}' name='id'>
        <!--{/notempty}-->
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
    <script>window.form.render();</script>
</form>
