{extend name="../../admin/view/main"}

{block name='content'}
<form action="{:sysuri()}" autocomplete="off" class="layui-form layui-card" data-auto="true" method="post">
    <div class="layui-card-body">

        <label class="layui-form-item relative block">
            <span class="color-green font-w7">页面名称</span>
            <span class="color-desc margin-left-5">Page Name</span>
            <input class="layui-input" name="name" placeholder="请输入页面名称" required value='{$data.name|default=""}'>
        </label>

        <div class="layui-form-item relative block">
            <span class="color-green font-w7 label-required-prev">页面内容</span>
            <span class="color-desc margin-left-5">Page Content</span>
            <label class="relative block">
                <textarea class="layui-hide" name="content">{$data.content|default=''}</textarea>
            </label>
        </div>

        <div class="hr-line-dashed"></div>

        <div class="layui-form-item text-center">
            <button class="layui-btn" type="submit">保存数据</button>
            <button class="layui-btn layui-btn-danger" data-confirm="确定要取消编辑吗？" data-history-back type='button'>取消编辑</button>
        </div>
    </div>

</form>

<script>
    require(['ckeditor'], function () {
        window.createEditor('[name=content]', {height: 535});
    });
</script>
{/block}