{extend name="../../admin/view/main"}

{block name="content"}
<div class="think-box-shadow">
    <form action="{:sysuri()}" method="post" data-auto="true" class="layui-form layui-card" style="width:850px">
        <div class="layui-card-header text-center margin-20">
            <b>{$title|default='小程序接口配置'}</b><span class="color-desc font-s12"> ( 微信公众号平台配置获取 )</span>
        </div>
        <div class="layui-card-body padding-left-40 padding-bottom-0">

            <label class="layui-form-item block relative">
                <span class='help-label'><b>小程序 AppId</b></span>
                <input class="layui-input" maxlength="18" name="appid" pattern="^wx[0-9a-z]{16}$" placeholder="请输入18位小程序 AppID" required value="{$data.appid|default=''}">
                <span class="help-block"><b>必选</b>，微信小程序 AppID 需要微信公众号平台获取！</span>
            </label>

            <label class="layui-form-item block relative">
                <span class="help-label"><b>小程序密钥 AppSecret</b></span>
                <input class="layui-input" maxlength="32" name="appkey" pattern="^[0-9a-z]{32}$" placeholder="请输入32位小程序 AppSecret" required value="{$data.appkey|default=''}">
                <span class="help-block"><b>必选</b>，微信小程序 AppSecret 需要微信公众号平台获取！</span>
            </label>

            <div class="hr-line-dashed margin-top-30"></div>
            <div class="layui-form-item text-center">
                <button class="layui-btn" data-submit>保存数据</button>
            </div>
        </div>
    </form>
</div>
{/block}