@charset "UTF-8";
fieldset {
  margin: 0 0 10px 0;
  border: 1px solid #EEE;
  padding: 10px 20px 5px 20px;
  background: #fff;
  border-radius: 5px;
}
fieldset legend {
  color: #666;
  padding: 0 10px;
  font-size: 12px;
  letter-spacing: 1px;
}
.layui-tab,
.layui-card {
  border-radius: 5px;
}
.layui-tab .layui-tab-title {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.layui-tab .layui-tab-title > li:first-child {
  padding: 0 15px 0 17px;
  margin-left: 0 !important;
  border-top-left-radius: 5px;
}
.layui-tab .layui-tab-title > li:first-child:after {
  border-left: none;
}
.layui-tab .layui-tab-content {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.layui-tab > .layui-tab-content {
  padding: 20px;
  background: #fff;
}
.layui-btn {
  border: 1px solid #009688;
}
.layui-btn:hover:not(.layui-btn-disabled) {
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1) inset;
}
.layui-btn-warm {
  border: 1px solid #FFB800;
}
.layui-btn-danger {
  border: 1px solid #FF5722;
}
.layui-btn-normal {
  border: 1px solid #1E9FFF;
}
.layui-btn-disabled {
  border: 1px solid #EEE;
}
.layui-btn-primary {
  background: #fff;
}
.layui-btn-group {
  border: 1px solid #098;
  overflow: hidden;
  background: #009688;
  line-height: 28px;
  border-radius: 2px;
}
.layui-btn-group + .layui-btn {
  margin-left: 8px;
}
.layui-btn-group .layui-btn {
  height: 28px;
  line-height: 28px;
  border-width: 0 !important;
  border-radius: 0 !important;
}
.layui-btn-group .layui-btn + .layui-btn {
  margin-left: 1px !important;
}
.layui-btn-group .layui-btn-primary:hover {
  border-color: #009688;
}
.layui-btn + .layui-btn {
  margin-left: 8px;
}
.layui-card > .layui-card-header {
  padding: 0 20px;
}
.layui-card > .layui-card-body {
  padding: 20px;
}
.layui-code {
  border-radius: 5px;
}
.layui-badge {
  margin-right: 5px;
}
.layui-badge-middle {
  width: 1em;
  height: auto;
  padding: 5px;
  line-height: 16px;
  white-space: normal;
  vertical-align: middle;
}
.layui-input,
.layui-select {
  line-height: 38px;
  border-color: #EEE;
}
.layui-input:hover,
.layui-select:hover,
.layui-input:active,
.layui-select:active,
.layui-input:focus,
.layui-select:focus {
  border-color: #DDD;
}
.layui-disabled,
.layui-disabled:hover {
  color: #333 !important;
  background: #EEE !important;
}
.layui-nav .layui-nav-item .layui-nav-more {
  top: 0;
  right: 15px;
  width: auto;
  height: auto;
  border: none;
  padding: 0 !important;
  font-size: 14px !important;
  font-style: normal;
  font-family: "layui-icon" !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.layui-nav .layui-nav-item .layui-nav-more::before {
  content: "\e619";
}
.layui-nav .layui-nav-item .layui-nav-mored,
.layui-nav .layui-nav-itemed .layui-nav-more {
  border: none;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.layui-tags {
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
}
.layui-tags .layui-tag {
  color: #FFF;
  height: 38px;
  margin: 3px 4px 3px 0;
  padding: 0 4px 0 10px;
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  border-radius: 2px;
  white-space: nowrap;
  background: #1E9FFF !important;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.layui-tags .layui-tag .layui-icon {
  font-size: 14px;
  font-weight: 700;
  margin-left: 5px;
}
.layui-tags .layui-tag .layui-icon:hover {
  cursor: pointer;
  color: #FF5722;
}
.layui-tags .layui-tag-input {
  width: 100px;
  resize: none;
  margin: 3px 8px 3px 0;
  overflow: hidden;
  white-space: nowrap;
}
.layui-table td,
.layui-table th {
  font-size: 12px;
}
.layui-table td.list-table-check-td + td,
.layui-table th.list-table-check-td + th {
  padding-left: 5px;
}
.layui-table input.layui-input,
.layui-table .layui-btn.layui-btn-sm {
  height: 28px;
  line-height: 28px;
  box-sizing: border-box;
}
.layui-table .layui-btn.layui-btn-sm {
  margin-top: -1px;
}
.layui-table[lay-size="lg"] input.layui-input,
.layui-table[lay-size="lg"] .layui-btn.layui-btn-sm {
  height: 38px;
  box-sizing: border-box;
  line-height: 38px;
}
.layui-table .list-table-sort-td {
  width: 10px !important;
  text-align: center !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.layui-table .list-table-sort-td button {
  width: 56px;
  background: #009688;
}
.layui-table .list-table-sort-td input {
  width: 50px;
  color: #666;
  padding: 2px;
  font-size: 9pt;
  border: 1px solid #EEE;
  text-align: center;
  line-height: 18px;
}
.layui-table .list-table-check-td {
  width: 10px !important;
  text-align: center !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.layui-table .list-table-check-td input {
  margin: 0 !important;
  vertical-align: middle;
}
.tableSelect .layui-table-view {
  margin: 10px 0;
}
.layui-table-view {
  margin: 0;
}
.layui-table-view .layui-table-page .layui-laypage .layui-laypage-prev,
.layui-table-view .layui-table-page .layui-laypage .layui-laypage-next {
  padding: 0 8px;
  border-radius: 3px;
}
.layui-table-view .layui-table-page .layui-laypage .layui-laypage-prev {
  margin-left: 0 !important;
}
.layui-table-view .layui-table-page .layui-laypage .layui-laypage-next {
  margin-right: 6px !important;
}
.layui-layer-tips.layui-layer-image {
  width: auto !important;
}
.layui-layer-tips.layui-layer-image .layui-layer-content {
  width: auto !important;
  padding: 4px !important;
}
.layui-layer-tips.layui-layer-image .layui-layer-content img {
  z-index: 2;
  position: relative;
}
.layui-layer-tips.layui-layer-image .layui-layer-content i.layui-layer-TipsR {
  z-index: 1;
}
.layui-layer-content .layui-form.layui-card {
  margin: 0;
  box-shadow: none !important;
}
.layui-layer-content .layui-form.layui-card .layui-card-body {
  padding: 20px 40px 0 0;
}
.layui-layer-dialog .layui-layer-content .layui-layer-ico {
  top: 50% !important;
  margin-top: -15px !important;
}
.laydate-footer-btns span {
  line-height: 24px !important;
}
.layui-form-select dl {
  top: 37px;
  padding: 0;
  border-color: #DDD;
}
.layui-form-checkbox.layui-form-checked i {
  border-color: #5FB878;
}
/*# sourceMappingURL=_display.css.map */