<label class="layui-form-item block relative">
    <span class="color-green font-w7 margin-right-10">商户绑定的公众号</span>
    <input name="joinpay_appid" required placeholder="请输入商户绑定的公众号（必填）" value="{$vo.content.joinpay_appid|default=''}" class="layui-input">
    <span class="help-block">商户绑定的公众号，授权给汇聚支付平台的公众号APPID</span>
</label>

<label class="layui-form-item block relative">
    <span class="color-green font-w7">汇聚支付报备商户号</span>
    <input name="joinpay_trade" required maxlength="15" placeholder="请输入汇聚支付报备商户号（必填）" value="{$vo.content.joinpay_trade|default=''}" class="layui-input">
    <span class="help-block">汇聚支付报备商户号，需要联系汇聚支付平台的客服获取，通常以 777 开头的15位数字！</span>
</label>

<label class="layui-form-item block relative">
    <span class="color-green font-w7 margin-right-10">汇聚支付的商户编号</span>
    <input name="joinpay_mch_id" required maxlength="15" placeholder="请输入汇聚支付的商户编号（必填）" value="{$vo.content.joinpay_mch_id|default=''}" class="layui-input">
    <span class="help-block">汇聚支付的商户编号，需要在汇聚支付平台商户中心获取，通常是以 888 开头的15位数字！</span>
</label>

<label class="layui-form-item block relative">
    <span class="color-green font-w7 margin-right-10">汇聚支付的商户密钥</span>
    <input name="joinpay_mch_key" required maxlength="32" placeholder="请输入汇聚支付的商户密钥（必填）" value="{$vo.content.joinpay_mch_key|default=''}" class="layui-input">
    <span class="help-block">汇聚支付的商户密钥，需要在汇聚支付平台商户中心的密钥管理处获取，通常为32位字符串！</span>
</label>