<label class="layui-form-item block relative">
    <span class="color-green font-w7 margin-right-10">绑定公众号</span>
    <span class="color-desc margin-left-5">Bind WeChat Appid</span>
    <input name="wechat_appid" required maxlength="18" pattern="^wx[0-9a-z]{16}$" placeholder="请输入18位绑定公众号（必填）" value="{$vo.content.wechat_appid|default=''}" class="layui-input">
    <span class="help-block">公众号APPID，微信商户绑定的服务号APPID或小程序APPID</span>
</label>

<label class="layui-form-item block relative">
    <span class="color-green font-w7 margin-right-10">微信商户号</span>
    <span class="color-desc margin-left-5">WeChat Payment Number</span>
    <input name="wechat_mch_id" required placeholder="请输入微信商户号（必填）" value="{$vo.content.wechat_mch_id|default=''}" class="layui-input">
    <span class="help-block">微信商户编号，需要在微信商户平台获取，微信商户号 与 公众号APPID 匹配</span>
</label>

<label class="layui-form-item block relative">
    <span class="color-green font-w7 margin-right-10">微信商户密钥</span>
    <span class="color-desc margin-left-5">WeChat Payment Secret Key</span>
    <input name="wechat_mch_key" required maxlength="32" pattern=".{32}" placeholder="请输入32位微信商户密钥（必填）" value="{$vo.content.wechat_mch_key|default=''}" class="layui-input">
    <span class="help-block">微信商户密钥，需要在微信商户平台操作设置密码并获取密钥，建议定期更换密钥</span>
</label>

<label class="layui-form-item block relative">
    <span class="color-green font-w7">微信商户密钥文件内容</span><span class="nowrap color-desc">（ 需要填写文件的全部内容 ）</span>
    <textarea name="wechat_mch_key_text" placeholder="请输入微信KEY密钥内容" class="layui-textarea">{$vo.content.wechat_mch_key_text|default=''}</textarea>
    <span class="help-block">从商户平台上下载支付证书，解压并取得其中的 apiclient_key.pem 用记事本打开并复制文件内容填至此处</span>
</label>

<label class="layui-form-item block relative">
    <span class="color-green font-w7">微信商户证书文件内容</span><span class="nowrap color-desc">（ 需要填写文件的全部内容 ）</span>
    <textarea name="wechat_mch_cert_text" placeholder="请输入微信CERT证书内容" class="layui-textarea">{$vo.content.wechat_mch_cert_text|default=''}</textarea>
    <span class="help-block">从商户平台上下载支付证书，解压并取得其中的 apiclient_cert.pem 用记事本打开并复制文件内容填至此处</span>
</label>