@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea, button,
::after, ::before {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-style: normal;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    width: 100%;
    font-family: "PingFang SC", Helvetica, Arial, sans-serif;
    -webkit-user-select: none; /*文本不能被选择*/
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: 100% !important; /*阻止文字被放大*/
    -moz-text-size-adjust: 100% !important;
    -ms-text-size-adjust: 100% !important;
    text-size-adjust: 100% !important;
    -webkit-font-smoothing: antialiased; /*抗锯齿*/
}

body {
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: initial;
    height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

a, button, em, del, strong, var, label, cite, small, time, mark, code {
    display: inline-block;
    color: inherit;
}

a, a:visited, a:active, a:hover {
    text-decoration: none;
    outline: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

ol, ul, li {
    list-style: none;
}

input, button, textarea {
    background-color: rgba(0, 0, 0, 0);
}

input, textarea {
    min-width: .1rem;
    border-radius: 0;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    resize: none;
    display: block;
}

label, textarea, .word-wrap {
    word-wrap: break-word;
    word-break: break-all;
}

input::-webkit-input-placeholder {
    color: #bbb;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

::-webkit-scrollbar {
    display: none;
}

/* reset end */

/* 首页 */
html {
    height: 100%;
}

body {
    min-height: 100%;
    background: url('../images/bg_rp.jpg') repeat-y;
    background-size: 100%;
    position: relative;
}

.page {
    position: relative;
    min-height: 100%;
}

.index-page::before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4.36rem;
    background: url('../images/bottom.png') no-repeat;
    background-size: cover;
    z-index: 2;
}

.index-page .page-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    padding-top: 32%;
}

.index-page .rule {
    position: absolute;
    top: 2.3%;
    right: 3.3%;
    width: 1.46rem;
    height: auto;
    z-index: 2;
}

.index-page .btn {
    width: 4.58rem;
    margin: 0 auto;
    -webkit-animation: ripple 3s infinite;
    animation: ripple 3s infinite;
}

@-webkit-keyframes ripple {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes ripple {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.index-page .detail {
    position: relative;
    z-index: 3;
    margin-top: 11%;
}

.index-page .title {
    width: 1.16rem;
    margin: 0 auto .18rem;
}

.index-page .ls-box {
    width: 5.4rem;
    height: 3.3rem;
    margin: 0 auto;
    background: #fff0e8;
    border: 1px solid #e60b11;
    border-radius: 2px;
    position: relative;
    -webkit-box-shadow: 0 0 18px 2px rgba(122, 0, 9, .7);
    box-shadow: 0 0 18px 2px rgba(122, 0, 9, .7);
}

.index-page .icon1 {
    position: absolute;
    top: 0;
    left: 0;
    width: .62rem;
    z-index: 2;
}

.index-page .icon2 {
    left: initial;
    right: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.index-page .ls-box ul {
    padding: 0 .26rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.index-page .ls-box ul li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px dashed #acacac;
    height: .8rem;
    font-size: 0;
}

.index-page .ls-box ul span {
    font-size: .24rem;
    color: #530006;
    vertical-align: middle;
}

.index-page .ls-box ul span:first-child {
    margin-right: .12rem;
    max-width: 4.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.index-page .ls-box .ls-title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.index-page .ls-box .ls-text {
    font-size: .24rem;
    color: #dd0d1d;
    padding-left: .1rem;
}


/* 填写信息 */

.mask,
.luck-mask,
.rule-mask,
.info-dialog {
    -webkit-transition: all .3s;
    transition: all .3s;
}

.mask,
.luck-mask,
.rule-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}

.info-dialog {
    position: fixed;
    top: 27%;
    left: 50%;
    width: 6rem;
    height: 5.2rem;
    margin-left: -3rem;
    background: url('../images/info_bg.jpg') no-repeat;
    background-size: 100% 100%;
    z-index: -1;
    border-radius: 2px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(.8);
    transform: scale(.8);
}

.info-dialog h2 {
    font-size: .36rem;
    color: #dd0d1d;
    text-align: center;
    line-height: 1;
    padding: .4rem 0 .56rem;
}

.info-dialog .form {
    padding: 0 .5rem;
}

.info-dialog label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: .4rem;
}

.info-dialog label span {
    font-size: .26rem;
    color: #000;
}

.info-dialog input {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: 1px solid #333;
    height: .6rem;
    border-radius: .6rem;
    line-height: .4rem;
    font-size: .28rem;
    color: #333;
    padding-left: .28rem;
}

.btns {
    font-size: 0;
    text-align: center;
    margin-top: .5rem;
}

.btns span {
    display: inline-block;
    vertical-align: middle;
    width: 1.8rem;
    line-height: .6rem;
    border-radius: .6rem;
    text-align: center;
    font-size: .24rem;
    color: #fff;
    background: #c8c8c8;
    margin: 0 .2rem;
}

.btns span:last-child {
    background: #dd0d1d;
}

.show.mask {
    opacity: 1;
    visibility: visible;
    z-index: 20;
}

.show.info-dialog {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 33;
}


/* 中奖弹窗 */

.luck-dialog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 38;
    text-align: center;
    padding-top: 58%;
}

.luck-dialog h1 {
    font-size: .64rem;
    color: #ffe100;
    margin-bottom: .2rem;
}

.luck-dialog h3 {
    font-size: .36rem;
    color: #ffe100;
    margin-bottom: .4rem;
}

.luck-dialog label {
    width: 6.5rem;
    display: inline-block;
    position: relative;
}

.luck-dialog input,
.luck-dialog select {
    width: 78%;
    height: .8rem;
    display: block;
    font-size: .26rem;
    line-height: .4rem;
    background: #fff;
    border-radius: .1rem;
    margin: 0 auto .4rem;
    text-align: left;
    padding-left: .3rem;
}

.luck-dialog select {
    width: 25.2%;
    text-align: center;
    margin-bottom: .1rem;
    display: inline-block;
}

.luck-dialog .dialog-btn {
    width: 4.7rem;
    margin: 0 auto;
    font-size: .3rem;
    line-height: .8rem;
    border-radius: .8rem;
    color: #dd0d1d;
    background: #ffe100;
}

.luck-dialog .btn1 {
    color: #dd0d1d;
    background: #fff0e8;
}

.show.luck-mask,
.show.rule-mask {
    opacity: 1;
    visibility: visible;
    z-index: 35;
}

.rule-mask {
    padding-top: 24%;
}

.rule-dialog {
    width: 6rem;
    height: 8.8rem;
    background: url('../images/rule_bg.jpg') no-repeat;
    background-size: 100% 100%;
    border-radius: 2px;
    overflow: hidden;
    margin: 0 auto;
}

.rule-dialog .dialog-title {
    font-size: .36rem;
    color: #dd0d1d;
    text-align: center;
    padding: .4rem 0 .3rem;
}

.rule-content {
    padding: 0 .3rem;
    font-size: .24rem;
    color: #333;
}

.close {
    position: absolute;
    top: 6.8%;
    right: 6.8%;
    width: .5rem;
    z-index: 99;
}

.hide {
    display: none !important;
}