<fieldset class="margin-bottom-20 relative" data-item-boxs>

    <legend class="color-green font-s14">
        <span class="layui-badge">{$group|default='邮费规则分组'}</span>
        <input type="hidden" name="group[]" value="{$group|default='邮费规则分组'}">
    </legend>

    {if $group neq '默认邮费模板'}
    <a onclick="delRuleItem(this)" class="layui-btn layui-btn-sm layui-btn-danger absolute" style="top:15px;right:5px;padding:0 5px">
        <i class="layui-icon layui-icon-close margin-left-5 margin-right-5"></i>
    </a>
    <input type="hidden" name="default[]" value="1">
    {else}
    <input type="hidden" name="default[]" value="0">
    {/if}

    <div class="layui-form-item block relative">

        <div class="color-desc font-s14">订单总金额满足条件时将减免该订单的所有邮费（请谨慎配置）</div>

        <div class="layui-inline">
            <label class="layui-form-label font-s14 padding-left-0 padding-right-10" style="width:auto">订单总金额满</label>
            <div class="layui-input-inline" style="width:100px;">
                <input type="text" name="reduct_amount[]" placeholder="￥" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label padding-left-5 padding-right-5" style="width:auto">元包邮</label>
        </div>
    </div>

    <div data-city-box class="layui-form-item">
        <div class="color-desc">
            根据配送目的地的省份进行运费计算邮费（不在规则内的将使用默认邮费规则）
        </div>

        <div class="layui-row layui-col-space10 layui-bg-gray">
            <div class="layui-col-xs3 text-center">首件（个）</div>
            <div class="layui-col-xs3 text-center">运费（元）</div>
            <div class="layui-col-xs3 text-center">续件（个）</div>
            <div class="layui-col-xs3 text-center">续费（元）</div>
            <label class="layui-col-xs3">
                <input name="first_number[]" value="{$item.first_number|default='1'}" data-blur-number="0" class="layui-input text-center padding-left-0">
            </label>
            <label class="layui-col-xs3">
                <input name="first_amount[]" value="{$item.first_amount|default='0.00'}" data-blur-number="2" class="layui-input text-center padding-left-0">
            </label>
            <label class="layui-col-xs3">
                <input name="next_number[]" value="{$item.next_number|default='1'}" data-blur-number="0" class="layui-input text-center padding-left-0">
            </label>
            <label class="layui-col-xs3">
                <input name="next_amount[]" value="{$item.next_amount|default='0.00'}" data-blur-number="2" class="layui-input text-center padding-left-0">
            </label>
        </div>
    </div>

</fieldset>