<form class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label">产品主分类</label>
        <div class="layui-input-block">
            <select name='pid' class='layui-select full-width block'>
                <!--{foreach cates as $cate}-->
                <!--{eq name='cate.id' value='$vo.pid|default=0'}-->
                <option selected value='{$cate.id}'>{$cate.spl|raw}{$cate.cate_title|default=''}</option>
                <!--{else}-->
                <option value='{$cate.id}'>{$cate.spl|raw}{$cate.cate_title}</option>
                <!--{/eq}-->
                <!--{/foreach}-->
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">产品分类</label>
        <div class="layui-input-block">
            <input autofocus name="cate_title" value='{$vo.cate_title|default=""}' required title="请输入产品分类" placeholder="请输入产品分类" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">分类描述</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入分类描述" title="请输入分类描述" class="layui-textarea" name="cate_desc">{$vo.cate_desc|default=""}</textarea>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'/>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
</form>
