<fieldset>
    <legend>条件搜索</legend>
    <form action="{$request->url()}" autocomplete="off" class="layui-form layui-form-pane form-search" method="get" onsubmit="return false">

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">用户名称</label>
            <label class="layui-input-inline">
                <input class="layui-input" name="user_keys" placeholder="请输入手机或昵称" value="{$get.user_keys|default=''}">
            </label>
        </div>

        <!--{notempty name='upgrades'}-->
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">升级等级</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="upgrade">
                    <option value="">-- 全部 --</option>
                    {foreach $upgrades as $upgrade}{if input('upgrade') eq $upgrade.number.''}
                    <option selected value="{$upgrade.number|default=0}">[ {$upgrade.number|default='0'} ] {$upgrade.name|default=''}</option>
                    {else}
                    <option value="{$upgrade.number|default=0}">[ {$upgrade.number|default='0'} ] {$upgrade.name|default=''}</option>
                    {/if}{/foreach}
                </select>
            </div>
        </div>
        <!--{/notempty}-->

        <!--{notempty name='names'}-->
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">充值名称</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="name">
                    <option value="">-- 全部 --</option>
                    {foreach $names as $name}{if input('name') eq $name}
                    <option selected value="{$name}">{$name}</option>
                    {else}
                    <option value="{$name}">{$name}</option>
                    {/if}{/foreach}
                </select>
            </div>
        </div>
        <!--{/notempty}-->

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">充值备注</label>
            <label class="layui-input-inline">
                <input class="layui-input" name="remark" placeholder="请输入充值备注" value="{$get.remark|default=''}">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">操作时间</label>
            <label class="layui-input-inline">
                <input class="layui-input" data-date-range name="create_at" placeholder="请选择操作时间" value="{$get.create_at|default=''}">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
        </div>
    </form>
</fieldset>