<form onsubmit="return false" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">

    <div class="layui-card-header padding-left-40 color-desc sub-span-blue">
        使用微信开放平台授权模式时，需要单独搭建楚才开放平台 <span>Service</span> 服务，接口需要使用 <span>YAR</span> 或 <span>JsonRpc</span> 模块通信。
    </div>

    <div class="layui-card-body">

        {if !empty($wechat)}
        <div class="layui-form-item">
            <label class="layui-form-label"><b>QRCode</b><br><span class="nowrap color-desc">公众号二维码</span></label>
            <div class="layui-input-block">
                <div class="pull-left notselect"><img alt="qrc" data-tips-image src="{$wechat.qrcode_url|down_file}" style="width:100px;margin-left:-7px"></div>
                <div class="pull-left padding-left-10">
                    <p class="nowrap">微信昵称：{$wechat.user_nickname|default='-'}</p>
                    <p class="nowrap">微信类型：{$wechat.service_type|default='-'} / {$wechat.service_verify == '未认证' ? '未认证' : '<span class="color-green">已认证</span>'}</p>
                    <p class="nowrap">注册公司：{$wechat.user_company|default='-'}</p>
                    <p class="nowrap">授权绑定：{$wechat.create_at|format_datetime}</p>
                </div>
            </div>
        </div>
        {/if}

        <div class="layui-form-item">
            <label class="layui-form-label"><b>Authorize</b><br><span class="nowrap color-desc">公众号授权绑定</span></label>
            <div class="layui-input-block">
                <button type="button" data-href="{$authurl|default=''}" class="layui-btn layui-btn-primary">重新绑定公众号</button>
                <p class="help-block">点击连接将跳转到微信第三方平台进行公众号授权。</p>
                {if !empty($message)}<p class="color-red">{$message|default=''}</p>{/if}
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><b>AppId</b><br><span class="nowrap color-desc">公众号APPID</span></label>
            <div class="layui-input-block">
                <input name="wechat.thr_appid" placeholder="请输入以wx开头的18位公众号APPID（必填）" pattern="^wx[0-9a-z]{16}$" maxlength="18" required value="{:sysconf('wechat.thr_appid')}" class="layui-input">
                <p class="help-block">众号 appid 通过微信第三方授权自动获取. 若没有值请进行微信第三方授权。</p>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><b>AppKey</b><br><span class="nowrap color-desc">服务接口密钥</span></label>
            <div class="layui-input-block">
                <input name="wechat.thr_appkey" required placeholder="请输入32位公众号AppSecret（必填）" value="{:sysconf('wechat.thr_appkey')}" maxlength="32" pattern="^[0-9a-z]{32}$" class="layui-input">
                <p class="help-block">公众号服务平台接口密钥, 通过微信第三方授权自动获取, 若没有值请进行微信第三方授权。</p>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><b>PushApi</b><br><span class="nowrap color-desc">服务推送接口</span></label>
            <div class="layui-input-block">
                <div class="relative margin-top-5">
                    <input value="{$thrNotify}" disabled class="layui-input layui-bg-gray">
                    <a data-copy="{$thrNotify}" class="fa fa-copy input-right-icon"></a>
                </div>
                <p class="help-block">公众号绑定服务平台接口通知 URL, 公众号消息接收与回复等。</p>
            </div>
        </div>

        <div class="hr-line-dashed"></div>
        <input type="hidden" name="wechat.type" value="thr">

        <div class="layui-form-item text-center">
            <button class="layui-btn" type="submit">保存配置</button>
        </div>

    </div>

</form>