<div class='layui-card shadow-none margin-0'>
    <div class="layui-card-body padding-40">
        <div class="text-center test-qrcode-box">
            <div class="inline-block padding-right-40 notselect">
                <img alt="img" class="notselect" data-tips-image src="{:url('wechat/api.test/oauthQrc')}">
                <p class="text-center">OAUTH 网页授权</p>
            </div>
            <div class="inline-block padding-left-40">
                <img alt="img" class="notselect" data-tips-image src="{:url('wechat/api.test/jssdkQrc')}">
                <p class="text-center">JSSDK 接口签名</p>
            </div>
        </div>
    </div>
</div>

<style>
    .test-qrcode-box img {
        width: 130px;
        height: 130px
    }
</style>
