<fieldset>

    <legend>条件搜索</legend>

    <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">员工姓名</label>
            <div class="layui-input-inline">
                <input name="nickname" value="{$Think.get.nickname|default=''}" placeholder="请输入员工姓名" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">仓库账号</label>
            <div class="layui-input-inline">
                <input name="svn_username" value="{$Think.get.svn_username|default=''}" placeholder="请输入仓库账号" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">员工状态</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="status">
                    {foreach [''=>'-- 全部状态 --','0'=>'禁用的员工','1'=>'正常的员工','2'=>'离职的员工'] as $k=>$v}
                    {eq name='Think.get.status' value='$k.""'}
                    <option selected value="{$k}">{$v}</option>
                    {else}
                    <option value="{$k}">{$v}</option>
                    {/eq}
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">添加时间</label>
            <div class="layui-input-inline">
                <input data-date-range name="create_at" value="{$Think.get.create_at|default=''}" placeholder="请选择添加时间" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
        </div>
    </form>

</fieldset>

<script>form.render()</script>
